Repository stacks-sbtc/sbtc, pull requests merged in 2024-10, with the labels that each got.

#567 feat: implement `get_signer_utxo` for in memory storage
  signer/src/bitcoin/client.rs
  signer/src/bitcoin/mod.rs
  signer/src/bitcoin/rpc.rs
  signer/src/bitcoin/utxo.rs
  signer/src/block_observer.rs
  signer/src/error.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/testing/api_clients.rs
  signer/src/testing/storage/model.rs
  signer/src/testing/transaction_coordinator.rs
  signer/src/transaction_coordinator.rs
  signer/tests/integration/bitcoin_client.rs
Labels: sbtc bootstrap signer

#591 feat: run transaction coordinator
  signer/src/bitcoin/client.rs
  signer/src/bitcoin/mod.rs
  signer/src/bitcoin/rpc.rs
  signer/src/block_observer.rs
  signer/src/context/messaging.rs
  signer/src/context/mod.rs
  signer/src/main.rs
  signer/src/testing/api_clients.rs
  signer/src/testing/context.rs
  signer/src/testing/mod.rs
  signer/src/testing/transaction_coordinator.rs
  signer/src/testing/wsts.rs
  signer/src/transaction_coordinator.rs
Labels: sbtc bootstrap signer

#599 feat: db stacks transactions validated incorrectly
  signer/src/block_observer.rs
  signer/src/storage/postgres.rs
  signer/src/testing/wallet.rs
  signer/tests/integration/contracts.rs
  signer/tests/integration/postgres.rs
Labels: sbtc bootstrap signer

#598 feat: move stacks client into signer context
  signer/src/bitcoin/mod.rs
  signer/src/block_observer.rs
  signer/src/context/mod.rs
  signer/src/main.rs
  signer/src/testing/api_clients.rs
  signer/src/testing/context.rs
  signer/src/testing/mod.rs
Labels: sbtc bootstrap signer

#582 feat: add bitcoin transaction fee validation
  protobufs/stacks/signer/v1/requests.proto
  sbtc/src/testing/regtest.rs
  signer/src/bitcoin/mod.rs
  signer/src/bitcoin/rpc.rs
  signer/src/bitcoin/utxo.rs
  signer/src/block_observer.rs
  signer/src/config/default.toml
  signer/src/config/mod.rs
  signer/src/context/mod.rs
  signer/src/proto/generated/stacks.signer.v1.rs
  signer/src/stacks/contracts.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/testing/dummy.rs
  signer/src/testing/wallet.rs
  signer/src/transaction_signer.rs
  signer/src/wsts_state_machine.rs
  signer/tests/integration/complete_deposit.rs
  signer/tests/integration/main.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/utxo_construction.rs
  signer/tests/integration/withdrawal_accept.rs
Labels: sbtc bootstrap signer

#606 feat: test context improvements
  signer/src/api/new_block.rs
  signer/src/context/mod.rs
  signer/src/network/libp2p/swarm.rs
  signer/src/network/mod.rs
  signer/src/stacks/api.rs
  signer/src/storage/postgres.rs
  signer/src/testing/api_clients.rs
  signer/src/testing/context.rs
  signer/src/testing/mod.rs
  signer/src/testing/transaction_coordinator.rs
  signer/src/testing/wallet.rs
  signer/src/transaction_coordinator.rs
  signer/tests/integration/complete_deposit.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/withdrawal_accept.rs
Labels: sbtc bootstrap signer

#601 595 feature provide raw transaction data for emily api deposit operations
  .generated-sources/emily/openapi/emily-openapi-spec.json
  Makefile
  devenv/aws-setup/initialize.py
  emily/cdk/lib/emily-stack-utils.ts
  emily/cdk/lib/emily-stack.ts
  emily/handler/src/api/handlers/deposit.rs
  emily/handler/src/api/models/deposit/mod.rs
  emily/handler/src/api/models/deposit/requests.rs
  emily/handler/src/database/entries/deposit.rs
  emily/handler/tests/integration/complex/reorg.rs
  emily/handler/tests/integration/endpoints/deposit.rs
  emily/handler/tests/integration/populate/mod.rs
  emily/handler/tests/integration/util/mod.rs
Labels: emily

#610 feat: run transaction signer
  Makefile
  signer/src/context/messaging.rs
  signer/src/context/mod.rs
  signer/src/context/termination.rs
  signer/src/main.rs
  signer/src/message.rs
  signer/src/network/in_memory.rs
  signer/src/network/mod.rs
  signer/src/testing/api_clients.rs
  signer/src/testing/transaction_signer.rs
  signer/src/testing/wsts.rs
  signer/src/transaction_signer.rs
  signer/src/wsts_state_machine.rs
  signer/tests/integration/transaction_signer.rs
Labels: sbtc bootstrap signer

#618 feat: fix race condition described in #588
  signer/src/context/messaging.rs
  signer/src/testing/transaction_coordinator.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
Labels: sbtc bootstrap signer

#629 Chore/run signer binary against devenv emily as server
  Makefile
  devenv/local/docker-compose/Dockerfile.emily
  devenv/local/docker-compose/docker-compose.yml
  devenv/service-test/curl-test.sh
  emily/handler/src/bin/emily-server.rs
  emily/handler/src/context.rs
  emily/handler/tests/integration/endpoints/deposit.rs
  emily/handler/tests/integration/endpoints/withdrawal.rs
  emily/handler/tests/integration/util/mod.rs
Labels: emily, test environment

#634 feat: make block observer + signer + coordinator more robust
  signer/src/block_observer.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
Labels: sbtc bootstrap signer

#633 feat: fix signer crashes pre-nakamoto
  signer/src/block_observer.rs
  signer/src/error.rs
  signer/src/main.rs
  signer/src/stacks/api.rs
  signer/src/testing/context.rs
  signer/tests/fixtures/stacksapi-get-node-info-test-data.json
  signer/tests/fixtures/stacksapi-get-pox-info-test-data.json
Labels: sbtc bootstrap signer

#615 feat: create `complete-deposit` sign requests
  signer/src/block_observer.rs
  signer/src/error.rs
  signer/src/keys.rs
  signer/src/main.rs
  signer/src/stacks/api.rs
  signer/src/stacks/contracts.rs
  signer/src/stacks/wallet.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/testing/dummy.rs
  signer/src/testing/transaction_coordinator.rs
  signer/src/testing/transaction_signer.rs
  signer/src/testing/wallet.rs
  signer/src/testing/wsts.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/src/wsts_state_machine.rs
  signer/tests/integration/contracts.rs
  signer/tests/integration/postgres.rs
Labels: sbtc bootstrap signer

#642 refactor: small fixes comment updates
  emily/handler/src/bin/emily-server.rs
  emily/handler/src/context.rs
  sbtc/Cargo.toml
  sbtc/src/deposits.rs
  sbtc/src/lib.rs
  signer/src/transaction_coordinator.rs
Labels: transaction library

#639 638 chore add bridge website docker container to devenv
  devenv/local/docker-compose/Dockerfile.emily
  devenv/local/docker-compose/Dockerfile.sbtc-bridge-website
  devenv/local/docker-compose/docker-compose.yml
Labels: bridge web app

#641 chore: add `flake.nix` including developer shell
  Dockerfile
  README.md
  flake.lock
  flake.nix
Labels: enhancement

#635 396 feature use actual deposit and withdrawal fields within the deposits and withdrawals
  Cargo.lock
  Cargo.toml
  emily/handler/Cargo.toml
  emily/handler/src/api/handlers/deposit.rs
  emily/handler/src/common/error.rs
Labels: emily

#654 feat: store bootstrap signing set info in the config
  signer/src/config/default.toml
  signer/src/config/mod.rs
  signer/src/stacks/wallet.rs
  signer/src/testing/wallet.rs
  signer/tests/fixtures/completed-deposit-event.json
  signer/tests/fixtures/withdrawal-accept-event.json
  signer/tests/fixtures/withdrawal-create-event.json
  signer/tests/fixtures/withdrawal-reject-event.json
  signer/tests/service-configs/stacks-node.toml
Labels: sbtc bootstrap signer

#617 feat: sign and broadcast Stacks transactions
  protobufs/stacks/signer/v1/requests.proto
  signer/src/context/mod.rs
  signer/src/error.rs
  signer/src/message.rs
  signer/src/proto/generated/stacks.signer.v1.rs
  signer/src/stacks/api.rs
  signer/src/storage/model.rs
  signer/src/testing/context.rs
  signer/src/testing/message.rs
  signer/src/testing/transaction_coordinator.rs
  signer/src/testing/transaction_signer.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
Labels: sbtc bootstrap signer

#670 feat: propogate tx coordinator's p2p messages internally to the tx signer
  signer/src/context/messaging.rs
  signer/src/network/in_memory.rs
  signer/src/network/mod.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
Labels: sbtc bootstrap signer

#672 fix: add a consolidated receiver
  signer/src/context/messaging.rs
  signer/src/stacks/wallet.rs
  signer/src/transaction_coordinator.rs
  signer/tests/integration/transaction_coordinator.rs
Labels: sbtc bootstrap signer

#655 feat: use bootstrap signing set when missing rotate keys tx
  signer/migrations/0003__create_tables.sql
  signer/src/block_observer.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/testing/dummy.rs
  signer/src/testing/transaction_signer.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/src/wsts_state_machine.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/transaction_coordinator.rs
  signer/tests/integration/transaction_signer.rs
Labels: sbtc bootstrap signer

#662 feat: bootstrapping distributed key generation
  signer/src/error.rs
  signer/src/main.rs
  signer/src/stacks/api.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/postgres.rs
  signer/src/testing/context.rs
  signer/src/testing/transaction_coordinator.rs
  signer/src/testing/transaction_signer.rs
  signer/src/testing/wallet.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/src/wsts_state_machine.rs
  signer/tests/integration/contracts.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/transaction_coordinator.rs
Labels: sbtc bootstrap signer

#673 feat: enable disjoint queries for kademlia
  signer/src/network/libp2p/swarm.rs
Labels: sbtc bootstrap signer

#675 fix: fetch `scriptPubKeys` for deposit transaction inputs
  signer/src/block_observer.rs
  signer/src/error.rs
  signer/src/stacks/contracts.rs
  signer/src/storage/model.rs
  signer/src/storage/sqlx.rs
  signer/src/testing/block_observer.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/complete_deposit.rs
  signer/tests/integration/emily.rs
  signer/tests/integration/rbf.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/transaction_signer.rs
  signer/tests/integration/utxo_construction.rs
Labels: sbtc bootstrap signer, deposit

#679 feat: block observer processes confirmed deposit requests
  signer/src/block_observer.rs
  signer/src/error.rs
  signer/src/main.rs
  signer/tests/integration/block_observer.rs
  signer/tests/integration/emily.rs
  signer/tests/integration/main.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/zmq.rs
Labels: sbtc bootstrap signer

#681 feat: use secp256k1 keys for libp2p and filter peers
  Cargo.lock
  Cargo.toml
  signer/src/context/mod.rs
  signer/src/context/signer_context.rs
  signer/src/context/signer_state.rs
  signer/src/keys.rs
  signer/src/main.rs
  signer/src/network/libp2p/event_loop.rs
  signer/src/network/libp2p/network.rs
  signer/src/network/libp2p/swarm.rs
  signer/src/testing/context.rs
  signer/src/transaction_coordinator.rs
Labels: sbtc bootstrap signer

#677 Feat/Emily can populate chainstate table with the height and hash inferred from deposit and withdrawal updates.
  emily/handler/src/api/handlers/chainstate.rs
  emily/handler/src/api/handlers/deposit.rs
  emily/handler/src/api/handlers/withdrawal.rs
  emily/handler/src/database/entries/deposit.rs
  emily/handler/src/database/entries/withdrawal.rs
  emily/handler/tests/integration/deposit.rs
  emily/handler/tests/integration/withdrawal.rs
Labels: emily

#702 Fix/integration environment post cleanup
  README.md
  contracts/deployments/default.devnet-docker.yaml
  docker/clarinet/Dockerfile
  docker/docker-compose.yml
  docker/sbtc/docker-compose.yml
  docker/sbtc/signer/Dockerfile
  docker/sbtc/signer/signer-config.toml
Labels: test environment

#703 Add Docker Container Release Workflow
  .github/actions/dockerfiles/Dockerfile.signer.debian
  .github/workflows/image-build.yaml
Labels: sbtc bootstrap signer, chore

#718 feat: Fail fast, run lints before integration tests, stop previous jobs
  .github/workflows/buf-ci.yaml
  .github/workflows/contract-tests.yaml
  .github/workflows/unit-tests.yaml
  Makefile
  rustfmt.toml
Labels: unplanned

#713 feat: properly parse the reclaim script lock time
  .generated-sources/emily/openapi/emily-openapi-spec.json
  emily/handler/src/api/handlers/deposit.rs
  emily/handler/src/api/models/deposit/mod.rs
  emily/handler/src/database/entries/deposit.rs
  emily/handler/tests/integration/deposit.rs
  sbtc/src/deposits.rs
  sbtc/src/error.rs
  sbtc/src/testing/deposits.rs
  sbtc/tests/integration/validation.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/testing/dummy.rs
Labels: transaction library, half sprint demo

#727 feat: add wsts protobufs
  protobufs/crypto/common.proto
  protobufs/crypto/wsts/state.proto
  protobufs/crypto/wsts/wsts.proto
  signer/build.rs
  signer/src/proto/generated/crypto.rs
  signer/src/proto/generated/crypto.wsts.rs
  signer/src/proto/generated/mod.rs
  signer/src/proto/mod.rs
Labels: signer communication

#707 feat: validate the public key embedded in the deposit script
  protobufs/stacks/signer/v1/decisions.proto
  signer/migrations/0003__create_tables.sql
  signer/src/bitcoin/utxo.rs
  signer/src/keys.rs
  signer/src/message.rs
  signer/src/proto/generated/stacks.signer.v1.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/testing/message.rs
  signer/src/testing/storage/model.rs
  signer/src/testing/transaction_signer.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/emily.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/transaction_signer.rs
Labels: half sprint demo

#728 feat: import libp2p changes from `feat/demo-cli` (related to #669)
  .generated-sources/blocklist-api/Cargo.toml
  Cargo.lock
  signer/src/network/libp2p/event_loop.rs
Labels: sbtc bootstrap signer

#710 Feature: Store sweep transaction information with associated deposit/withdrawal requests
  Cargo.lock
  Cargo.toml
  Makefile
  signer/migrations/0003__create_tables.sql
  signer/migrations/0004__create_functions.sql
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/transaction_coordinator.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/transaction_coordinator.rs
Labels: sbtc bootstrap signer

#736 feat: update contract calls with burn block check inputs
  signer/src/stacks/contracts.rs
Labels: sbtc bootstrap signer, half sprint demo

#744 feat: add functions for validating deposit prevouts part 1
  signer/src/bitcoin/mod.rs
  signer/src/bitcoin/validation.rs
  signer/src/error.rs
  signer/src/lib.rs
  signer/src/stacks/contracts.rs
  signer/src/storage/model.rs
Labels: sbtc bootstrap signer
