Repository stacks-sbtc/sbtc, pull requests merged in 2024-09, with the labels that each got.

#474 feat: add handler for smart contract events
  signer/migrations/0003__create_tables.sql
  signer/src/api/mod.rs
  signer/src/api/new_block.rs
  signer/src/config.rs
  signer/src/config/default.toml
  signer/src/error.rs
  signer/src/main.rs
  signer/src/stacks/events.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/testing/dummy.rs
  signer/src/testing/mod.rs
  signer/tests/fixtures/complete-deposit-event.json
  signer/tests/fixtures/withdrawal-accept-event.json
  signer/tests/fixtures/withdrawal-create-event.json
  signer/tests/fixtures/withdrawal-reject-event.json
  signer/tests/integration/contracts.rs
  signer/tests/integration/postgres.rs
Labels: sbtc bootstrap signer

#495 refactor: use newtypes instead of aliases
  signer/src/api/new_block.rs
  signer/src/bitcoin/utxo.rs
  signer/src/block_observer.rs
  signer/src/config.rs
  signer/src/error.rs
  signer/src/keys.rs
  signer/src/message.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/storage/sqlx.rs
  signer/src/testing/dummy.rs
  signer/src/testing/message.rs
  signer/src/testing/storage/model.rs
  signer/src/testing/transaction_coordinator.rs
  signer/src/testing/transaction_signer.rs
  signer/src/testing/wsts.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/tests/fixtures/completed-deposit-event.json
  signer/tests/integration/postgres.rs
Labels: sbtc bootstrap signer

#498 feat: change withdrawal lock amounts
  contracts/contracts/sbtc-withdrawal.clar
  contracts/tests/sbtc-withdrawal.test.ts
  signer/src/bitcoin/utxo.rs
  signer/tests/integration/rbf.rs
  signer/tests/integration/utxo_construction.rs
Labels: sbtc bootstrap signer, clarity

#499 feat: record merkle root of withdrawal identifiers on chain
  Cargo.lock
  signer/Cargo.toml
  signer/migrations/0003__create_tables.sql
  signer/src/bitcoin/utxo.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/testing/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/utxo_construction.rs
Labels: sbtc bootstrap signer

#508 feat: check contract origin webhook handler
  signer/src/api/mod.rs
  signer/src/api/new_block.rs
  signer/src/config.rs
  signer/src/config/default.toml
  signer/src/lib.rs
  signer/src/stacks/webhooks.rs
Labels: sbtc bootstrap signer

#528 refactor: use the `ScriptPubKey` as recipient
  sbtc/src/testing/regtest.rs
  signer/migrations/0003__create_tables.sql
  signer/src/bitcoin/utxo.rs
  signer/src/block_observer.rs
  signer/src/error.rs
  signer/src/message.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/storage/sqlx.rs
  signer/src/testing/dummy.rs
  signer/src/testing/storage/model.rs
  signer/src/testing/transaction_signer.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/rbf.rs
  signer/tests/integration/utxo_construction.rs
Labels: sbtc bootstrap signer

#529 feat: populate signer bitmap in withdrawal requests
  signer/src/bitcoin/utxo.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/testing/storage/model.rs
  signer/src/testing/transaction_coordinator.rs
  signer/src/testing/transaction_signer.rs
  signer/src/testing/wsts.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/postgres.rs
Labels: sbtc bootstrap signer

#531 feat: store the stacks block id for events
  signer/migrations/0003__create_tables.sql
  signer/src/api/new_block.rs
  signer/src/error.rs
  signer/src/stacks/events.rs
  signer/src/stacks/webhooks.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/postgres.rs
  signer/src/testing/dummy.rs
  signer/tests/integration/postgres.rs
Labels: sbtc bootstrap signer

#535 feat: reject non-standard deposit scripts and problematic lock-times
  sbtc/src/deposits.rs
  sbtc/src/error.rs
  sbtc/src/testing/regtest.rs
  sbtc/tests/integration/validation.rs
Labels: transaction library

#545 feat: add validation for complete-deposit transactions
  signer/src/bitcoin/zmq.rs
  signer/src/error.rs
  signer/src/keys.rs
  signer/src/stacks/contracts.rs
  signer/src/stacks/wallet.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/testing/dummy.rs
  signer/src/testing/storage/model.rs
  signer/src/testing/wallet.rs
  signer/src/testing/wsts.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/complete_deposit.rs
  signer/tests/integration/contracts.rs
  signer/tests/integration/main.rs
  signer/tests/integration/postgres.rs
Labels: sbtc bootstrap signer

#558 feat: start protobuf use for signer communication
  .github/workflows/buf-ci.yaml
  protobufs/buf.yaml
  protobufs/stacks/common.proto
  protobufs/stacks/signer/message_relay.proto
  protobufs/stacks/signer/v1/decisions.proto
  signer/Cargo.toml
  signer/build.rs
  signer/examples/relay-client.rs
  signer/src/bin/relay-server.rs
  signer/src/error.rs
  signer/src/network/grpc_relay.rs
  signer/src/network/mod.rs
  signer/src/proto/generated/mod.rs
  signer/src/proto/generated/stacks.rs
  signer/src/proto/generated/stacks.signer.rs
  signer/src/proto/generated/stacks.signer.v1.rs
  signer/src/proto/mod.rs
  signer/tests/integration/main.rs
Labels: sbtc bootstrap signer, signer communication

#555 feat: add validation for accept-withdrawal-request transactions
  signer/src/bitcoin/utxo.rs
  signer/src/error.rs
  signer/src/stacks/contracts.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/testing/dummy.rs
  signer/src/testing/storage/model.rs
  signer/src/testing/wsts.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/complete_deposit.rs
  signer/tests/integration/contracts.rs
  signer/tests/integration/main.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/withdrawal_accept.rs
Labels: sbtc bootstrap signer

#557 feat: bitcoin transaction fee assessment
  Cargo.lock
  Cargo.toml
  Makefile
  docker-compose.test.yml
  sbtc/Cargo.toml
  sbtc/src/deposits.rs
  sbtc/src/error.rs
  sbtc/src/rpc.rs
  sbtc/tests/integration/rpc.rs
  sbtc/tests/integration/validation.rs
  signer/src/block_observer.rs
Labels: transaction library, sbtc bootstrap signer

#565 refactor: move context into its own dir and related updates
  signer/src/context/messaging.rs
  signer/src/context/mod.rs
  signer/src/context/termination.rs
  signer/src/network/libp2p/event_loop.rs
  signer/src/network/mod.rs
Labels: sbtc bootstrap signer

#566 refactor: move the `sbtc::rpc` module over to the signer
  Cargo.lock
  Cargo.toml
  sbtc/Cargo.toml
  sbtc/src/deposits.rs
  sbtc/src/error.rs
  sbtc/src/lib.rs
  sbtc/src/rpc.rs
  sbtc/tests/integration/main.rs
  sbtc/tests/integration/validation.rs
  signer/Cargo.toml
  signer/src/bitcoin/client.rs
  signer/src/bitcoin/fees.rs
  signer/src/bitcoin/mod.rs
  signer/src/bitcoin/rpc.rs
  signer/src/bitcoin/utxo.rs
  signer/src/block_observer.rs
  signer/src/context/mod.rs
  signer/src/error.rs
  signer/src/lib.rs
  signer/src/logging.rs
  signer/src/main.rs
  signer/src/stacks/api.rs
  signer/src/storage/model.rs
  signer/src/testing/api_clients.rs
  signer/tests/integration/bitcoin_client.rs
  signer/tests/integration/bitcoin_rpc.rs
  signer/tests/integration/contracts.rs
  signer/tests/integration/main.rs
Labels: transaction library, sbtc bootstrap signer

#577 feat: add more protobuf types part 2
  protobufs/bitcoin/bitcoin.proto
  protobufs/crypto/common.proto
  protobufs/stacks/common.proto
  protobufs/stacks/signer/v1/decisions.proto
  protobufs/stacks/signer/v1/requests.proto
  signer/build.rs
  signer/src/proto/generated/bitcoin.rs
  signer/src/proto/generated/crypto.rs
  signer/src/proto/generated/mod.rs
  signer/src/proto/generated/stacks.rs
  signer/src/proto/generated/stacks.signer.v1.rs
  signer/src/proto/mod.rs
Labels: sbtc bootstrap signer, signer communication

#573 refactor: setup bitcoin client use in validation
  signer/src/api/new_block.rs
  signer/src/bitcoin/client.rs
  signer/src/bitcoin/mod.rs
  signer/src/bitcoin/rpc.rs
  signer/src/block_observer.rs
  signer/src/context/mod.rs
  signer/src/error.rs
  signer/src/main.rs
  signer/src/network/libp2p/swarm.rs
  signer/src/network/mod.rs
  signer/src/stacks/api.rs
  signer/src/stacks/contracts.rs
  signer/src/stacks/wallet.rs
  signer/src/storage/model.rs
  signer/src/testing/api_clients.rs
  signer/src/testing/mod.rs
  signer/src/testing/wallet.rs
  signer/src/transaction_signer.rs
  signer/src/util.rs
  signer/tests/integration/bitcoin_client.rs
  signer/tests/integration/bitcoin_rpc.rs
  signer/tests/integration/complete_deposit.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/withdrawal_accept.rs
Labels: sbtc bootstrap signer

#579 feat: add more protobuf types part 3
  protobufs/stacks/signer/v1/requests.proto
  signer/src/proto/generated/stacks.signer.v1.rs
  signer/src/proto/mod.rs
Labels: sbtc bootstrap signer, signer communication

#580 feat: run block observer
  signer/src/block_observer.rs
  signer/src/config/default.toml
  signer/src/config/mod.rs
  signer/src/context/messaging.rs
  signer/src/context/mod.rs
  signer/src/main.rs
  signer/src/testing/mod.rs
Labels: sbtc bootstrap signer

#572 refactor: stacks client and config to use the fallback client
  signer/src/bitcoin/client.rs
  signer/src/block_observer.rs
  signer/src/config/default.toml
  signer/src/config/mod.rs
  signer/src/main.rs
  signer/src/stacks/api.rs
  signer/src/testing/api_clients.rs
  signer/src/util.rs
  signer/tests/integration/contracts.rs
Labels: sbtc bootstrap signer

#581 feat: emily integration boilerplate
  Cargo.lock
  signer/Cargo.toml
  signer/src/block_observer.rs
  signer/src/config/default.toml
  signer/src/config/mod.rs
  signer/src/emily_client.rs
  signer/src/error.rs
  signer/src/lib.rs
  signer/src/main.rs
  signer/src/testing/api_clients.rs
Labels: sbtc bootstrap signer
