Repository stacks-sbtc/sbtc, pull requests merged in 2024-05, with the labels that each got.

#99 Add Autogenerated Rust Emily Client
  .generated-sources/emily/Cargo.toml
  .generated-sources/emily/build.rs
  .generated-sources/emily/src/main.rs
  .github/workflows/rust-tests.yaml
  .gitignore
  Cargo.lock
  Cargo.toml
  emily/api-definition/openapitools.json
  emily/api-definition/package-lock.json
  emily/api-definition/package.json
  emily/api-definition/rust-config.json
  emily/api-definition/smithy-build.json
Labels: emily

#123 Prepend clippy ignore flags to emily client file.
  .generated-sources/emily/build.rs
Labels: emily

#132 Setup cdk unit tests to be independent of lambda compilation.
  emily/cdk/bin/emily.ts
  emily/cdk/lib/constants.ts
  emily/cdk/lib/emily-stack.ts
  emily/cdk/package.json
  emily/cdk/test/assets/empty-lambda.zip
  emily/cdk/test/emily-stack-util.test.ts
  emily/cdk/test/emily-stack.test.ts
Labels: emily

#128 feat: construct BTC transactions
  Cargo.lock
  Cargo.toml
  signer/Cargo.toml
  signer/src/error.rs
  signer/src/lib.rs
  signer/src/utxo.rs
Labels: utxo consolidation

#124 72 deposit api mock outputs for api events
  Cargo.lock
  emily/api-definition/models/chainstate/ops.smithy
  emily/api-definition/models/deposits/ops.smithy
  emily/api-definition/models/deposits/structures.smithy
  emily/api-definition/models/errors.smithy
  emily/api-definition/models/withdrawals/ops.smithy
  emily/api-definition/models/withdrawals/structures.smithy
  emily/api-definition/rust-config.json
  emily/lambda/Cargo.toml
  emily/lambda/src/common.rs
  emily/lambda/src/errors.rs
  emily/lambda/src/eventhandler.rs
  emily/lambda/src/lib.rs
  emily/lambda/src/main.rs
  emily/lambda/src/operations.rs
  emily/lambda/src/operations/chainstate.rs
  emily/lambda/src/operations/deposits.rs
  emily/lambda/src/operations/withdrawals.rs
  emily/lambda/src/utils.rs
  emily/lambda/src/utils/test.rs
Labels: emily

#134 feat: GPL V3 License
  LICENSE
  README.md
Labels: documentation

#146 ci: add transaction package integration tests
  .github/workflows/unit-tests.yaml
  Cargo.lock
  Makefile
  README.md
  docker-compose.test.yml
  signer/Cargo.toml
  signer/src/utxo.rs
  signer/tests/bitcoin/bitcoin.conf
  signer/tests/integration/main.rs
  signer/tests/integration/regtest.rs
  signer/tests/integration/utxo_construction.rs
Labels: utxo consolidation

#155 feat: simplify peg-in transaction signing
  signer/src/error.rs
  signer/src/utxo.rs
  signer/tests/integration/regtest.rs
  signer/tests/integration/utxo_construction.rs
Labels: utxo consolidation

#169 feat: add transaction RBF support
  Makefile
  docker-compose.local.yml
  docker-compose.test.yml
  signer/src/utxo.rs
  signer/tests/bitcoin/bitcoin.conf
  signer/tests/integration/main.rs
  signer/tests/integration/rbf.rs
  signer/tests/integration/regtest.rs
  signer/tests/integration/utxo_construction.rs
Labels: utxo consolidation

#186 feat: charge fees based on virtual size
  signer/src/utxo.rs
  signer/tests/integration/rbf.rs
Labels: utxo consolidation

#188 test: add BTC withdrawal integration tests
  signer/src/utxo.rs
  signer/tests/integration/rbf.rs
  signer/tests/integration/regtest.rs
  signer/tests/integration/utxo_construction.rs
Labels: utxo consolidation

#141 Docker Compose setup of non-sBTC Components
  devenv/.gitignore
  devenv/README.md
  devenv/local/docker-compose/README.md
  devenv/local/docker-compose/bitcoin-miner-sidecar/build.sh
  devenv/local/docker-compose/bitcoin-miner-sidecar/docker-compose.yml
  devenv/local/docker-compose/bitcoin-miner-sidecar/docker/Dockerfile
  devenv/local/docker-compose/bitcoin-miner-sidecar/docker/entrypoint.sh
  devenv/local/docker-compose/bitcoin-miner-sidecar/down.sh
  devenv/local/docker-compose/bitcoin-miner-sidecar/up.sh
  devenv/local/docker-compose/bitcoin/bin/bitcoin-cli
  devenv/local/docker-compose/bitcoin/build.sh
  devenv/local/docker-compose/bitcoin/docker-compose-bitcoin.yml
  devenv/local/docker-compose/bitcoin/docker/Dockerfile
  devenv/local/docker-compose/bitcoin/docker/default.conf
  devenv/local/docker-compose/bitcoin/docker/entrypoint.sh
  devenv/local/docker-compose/bitcoin/down.sh
  devenv/local/docker-compose/bitcoin/up.sh
  devenv/local/docker-compose/build.sh
  devenv/local/docker-compose/docker-compose.yml
  devenv/local/docker-compose/down.sh
  devenv/local/docker-compose/electrs/docker/Dockerfile
  devenv/local/docker-compose/electrs/docker/entrypoint.sh
  devenv/local/docker-compose/nakamoto-signer/docker/Dockerfile
  devenv/local/docker-compose/nakamoto-signer/docker/entrypoint.sh
  devenv/local/docker-compose/stacks-api/docker/Dockerfile
  devenv/local/docker-compose/stacks-explorer/docker/Dockerfile
  devenv/local/docker-compose/stacks/docker/Dockerfile
  devenv/local/docker-compose/stacks/docker/config.toml
  devenv/local/docker-compose/stacks/docker/entrypoint.sh
  devenv/local/docker-compose/tests/devnet-liveness.sh
  devenv/local/docker-compose/up.sh
Labels: test environment

#201 feat: use unspendable taproot public keys for deposits
  signer/src/utxo.rs
  signer/tests/integration/rbf.rs
  signer/tests/integration/utxo_construction.rs
Labels: transaction library, utxo consolidation

#202 Local Kubernetes setup for Stacks Node, Signer, API & Explorer
  devenv/local/k8s/README.md
  devenv/local/k8s/build.sh
  devenv/local/k8s/custom-k8s-docker-builds/bitcoin/docker/entrypoint.sh
  devenv/local/k8s/custom-k8s-docker-builds/build-minikube-containers.sh
  devenv/local/k8s/custom-k8s-docker-builds/nakamoto-signer/docker/Dockerfile
  devenv/local/k8s/custom-k8s-docker-builds/nakamoto-signer/docker/entrypoint.sh
  devenv/local/k8s/custom-k8s-docker-builds/ref.md
  devenv/local/k8s/custom-k8s-docker-builds/stacks-api/docker/Dockerfile
  devenv/local/k8s/custom-k8s-docker-builds/stacks-explorer/docker/Dockerfile
  devenv/local/k8s/custom-k8s-docker-builds/stacks/docker/Dockerfile
  devenv/local/k8s/custom-k8s-docker-builds/stacks/docker/entrypoint.sh
  devenv/local/k8s/down.sh
  devenv/local/k8s/remove-minikube-containers.sh
  devenv/local/k8s/tests/devnet-liveness.sh
  devenv/local/k8s/up.sh
  devenv/local/k8s/utils/port-forward-containers.sh
  devenv/local/k8s/utils/wait-for-deployment.sh
  devenv/local/k8s/yamls/deployments/bitcoin-deployment.yaml
  devenv/local/k8s/yamls/deployments/bitcoin-miner-deployment.yaml
  devenv/local/k8s/yamls/deployments/nakamoto-signer-deployment.yaml
  devenv/local/k8s/yamls/deployments/postgres-deployment.yaml
  devenv/local/k8s/yamls/deployments/stacks-api-deployment.yaml
  devenv/local/k8s/yamls/deployments/stacks-deployment.yaml
  devenv/local/k8s/yamls/deployments/stacks-explorer-deployment.yaml
  devenv/local/k8s/yamls/namespaces/namespaces.yaml
  devenv/local/k8s/yamls/secrets/secrets.yaml
  devenv/local/k8s/yamls/services/services.yaml
Labels: test environment

#217 Devnet Fix - Cleanup of unnecessary env vars in Docker Compose
  devenv/local/docker-compose/docker-compose.yml
Labels: test environment
