Repository stacks-sbtc/sbtc, pull requests merged in 2024-08, with the labels that each got.

#372 365 feature emily api default database entries
  Cargo.lock
  Makefile
  devenv/dynamodb/dynamic/.gitkeep
  devenv/dynamodb/populated/.gitkeep
  devenv/dynamodb/populated/shared-local-instance.db
  docker-compose.emily.yml
  emily/handler/Cargo.toml
  emily/handler/tests/integration/complex/reorg.rs
  emily/handler/tests/integration/main.rs
  emily/handler/tests/integration/populate/mod.rs
Labels: emily

#374 chore: Remove file that was accidentally added
  emily/handler/tests/integration/complex/reorg.rs
Labels: emily

#377 documentation: Add two new issue templates.
  .github/ISSUE_TEMPLATE/chore.md
  .github/ISSUE_TEMPLATE/tech-debt.md
Labels: documentation

#381 Add `testing` endpoint to emily api
  .generated-sources/emily/openapi/build.rs
  .generated-sources/emily/openapi/emily-openapi-spec.json
  emily/handler/src/api/handlers/mod.rs
  emily/handler/src/api/handlers/testing.rs
  emily/handler/src/api/routes/mod.rs
  emily/handler/src/api/routes/testing.rs
  emily/handler/src/common/error.rs
  emily/handler/src/database/accessors.rs
Labels: emily

#385 feat: extract deposit requests in block observer
  sbtc/src/deposits.rs
  sbtc/src/error.rs
  sbtc/src/rpc.rs
  sbtc/tests/integration/rpc.rs
  sbtc/tests/integration/validation.rs
  signer/src/block_observer.rs
  signer/src/fees.rs
  signer/src/storage.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/tests/integration/postgres.rs
Labels: sbtc bootstrap signer

#400 feat: Make emily integration tests self containing.
  Cargo.lock
  emily/handler/Cargo.toml
  emily/handler/src/database/accessors.rs
  emily/handler/tests/integration/endpoints/chainstate.rs
  emily/handler/tests/integration/endpoints/deposit.rs
  emily/handler/tests/integration/endpoints/withdrawal.rs
  emily/handler/tests/integration/util/mod.rs
Labels: emily

#401 feat: Remove extra workflow and make tech-debt ticket less detailed.
  .github/ISSUE_TEMPLATE/tech-debt.md
  .github/workflows/unit-tests.yaml
Labels: documentation

#406 feat: use bitcoin-core as the block notifier
  Cargo.lock
  Cargo.toml
  docker-compose.test.yml
  sbtc/src/deposits.rs
  sbtc/src/testing/regtest.rs
  signer/Cargo.toml
  signer/src/error.rs
  signer/src/lib.rs
  signer/src/zmq.rs
  signer/tests/integration/main.rs
  signer/tests/integration/zmq.rs
  signer/tests/service-configs/bitcoin.conf
Labels: sbtc bootstrap signer

#407 refactor: remove signer electrum dependency
  Cargo.lock
  Cargo.toml
  docker-compose.test.yml
  sbtc/Cargo.toml
  sbtc/src/deposits.rs
  sbtc/src/error.rs
  sbtc/src/lib.rs
  sbtc/src/rpc.rs
  sbtc/tests/integration/rpc.rs
  sbtc/tests/integration/validation.rs
  signer/Cargo.toml
  signer/src/bitcoin/fees.rs
  signer/src/bitcoin/mod.rs
  signer/src/bitcoin/packaging.rs
  signer/src/bitcoin/utxo.rs
  signer/src/bitcoin/zmq.rs
  signer/src/block_notifier.rs
  signer/src/lib.rs
  signer/src/network/mod.rs
  signer/src/stacks/mod.rs
  signer/src/storage/mod.rs
  signer/src/testing/mod.rs
  signer/src/transaction_coordinator.rs
  signer/tests/integration/block_notifier.rs
  signer/tests/integration/main.rs
  signer/tests/integration/rbf.rs
  signer/tests/integration/utxo_construction.rs
  signer/tests/integration/zmq.rs
  signer/tests/service-configs/electrs.toml
Labels: transaction library, sbtc bootstrap signer

#410 feat: extract sBTC transactions in block observer
  Cargo.lock
  emily/handler/tests/integration/complex/reorg.rs
  signer/migrations/0003__create_tables.sql
  signer/src/bitcoin/utxo.rs
  signer/src/block_observer.rs
  signer/src/error.rs
  signer/src/stacks/contracts.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/testing/dummy.rs
  signer/src/testing/wallet.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/postgres.rs
Labels: sbtc bootstrap signer

#418 feat: simplify cryptographic key types
  Cargo.lock
  Cargo.toml
  sbtc/Cargo.toml
  signer/Cargo.toml
  signer/src/bitcoin/utxo.rs
  signer/src/error.rs
  signer/src/keys.rs
  signer/src/lib.rs
Labels: sbtc bootstrap signer

#419 feat: Generalize Emily DynamoDB Table Accessors
  emily/handler/src/api/handlers/chainstate.rs
  emily/handler/src/api/handlers/deposit.rs
  emily/handler/src/api/handlers/withdrawal.rs
  emily/handler/src/database/accessors.rs
  emily/handler/src/database/entries/chainstate.rs
  emily/handler/src/database/entries/deposit.rs
  emily/handler/src/database/entries/mod.rs
  emily/handler/src/database/entries/withdrawal.rs
Labels: emily

#422 feat: add signature module
  Cargo.lock
  Cargo.toml
  signer/Cargo.toml
  signer/src/error.rs
  signer/src/keys.rs
  signer/src/lib.rs
  signer/src/message.rs
  signer/src/signature.rs
  signer/src/stacks/wallet.rs
  signer/src/testing/dummy.rs
  signer/src/testing/message.rs
  signer/tests/integration/contracts.rs
Labels: sbtc bootstrap signer

#423 Emily as Local Warp Service
  Makefile
  blocklist-client/src/main.rs
  devenv/service-test/curl-test.sh
  docker-compose.emily.yml
  emily/handler/Cargo.toml
  emily/handler/src/bin/emily-lambda.rs
  emily/handler/src/bin/emily-server.rs
  emily/handler/src/context.rs
  emily/handler/src/database/accessors.rs
  emily/handler/src/lib.rs
  emily/handler/src/main.rs
  emily/handler/tests/integration/accessors.rs
  emily/handler/tests/integration/main.rs
  emily/handler/tests/integration/util/constants.rs
  emily/handler/tests/integration/util/mod.rs
Labels: emily

#435 feat: Emily server cli args + remove "/local" path prefix
  Cargo.lock
  Makefile
  devenv/service-test/curl-test.sh
  emily/handler/Cargo.toml
  emily/handler/src/api/routes/mod.rs
  emily/handler/src/bin/emily-lambda.rs
  emily/handler/src/bin/emily-server.rs
  emily/handler/src/context.rs
  emily/handler/tests/integration/util/constants.rs
Labels: emily

#431 refactor: modify contract calls support validation
  Cargo.lock
  Cargo.toml
  signer/migrations/0003__create_tables.sql
  signer/src/error.rs
  signer/src/lib.rs
  signer/src/message.rs
  signer/src/stacks/contracts.rs
  signer/src/stacks/wallet.rs
  signer/src/storage/postgres.rs
  signer/src/testing/message.rs
  signer/src/testing/transaction_signer.rs
  signer/src/testing/wallet.rs
  signer/src/testing/wsts.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/contracts.rs
  signer/tests/integration/postgres.rs
Labels: sbtc bootstrap signer

#432 feat: Update requests for deposit and withdrawals
  .generated-sources/emily/openapi/emily-openapi-spec.json
  Cargo.lock
  Makefile
  devenv/service-test/curl-test.sh
  emily/handler/Cargo.toml
  emily/handler/src/api/handlers/deposit.rs
  emily/handler/src/api/handlers/withdrawal.rs
  emily/handler/src/api/models/common/mod.rs
  emily/handler/src/api/models/deposit/requests.rs
  emily/handler/src/api/models/withdrawal/requests.rs
  emily/handler/src/api/routes/deposit.rs
  emily/handler/src/api/routes/mod.rs
  emily/handler/src/bin/emily-lambda.rs
  emily/handler/src/bin/emily-server.rs
  emily/handler/src/common/error.rs
  emily/handler/src/context.rs
  emily/handler/src/database/accessors.rs
  emily/handler/src/database/entries/deposit.rs
  emily/handler/src/database/entries/mod.rs
  emily/handler/src/database/entries/withdrawal.rs
  emily/handler/tests/integration/endpoints/deposit.rs
  emily/handler/tests/integration/endpoints/withdrawal.rs
  emily/handler/tests/integration/util/constants.rs
  emily/handler/tests/integration/util/mod.rs
Labels: emily

#436 refactor: automatically set created_at columns
  signer/migrations/0003__create_tables.sql
  signer/src/block_observer.rs
  signer/src/stacks/contracts.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/testing/dummy.rs
  signer/src/transaction_signer.rs
  signer/src/wsts_state_machine.rs
  signer/tests/integration/postgres.rs
Labels: sbtc bootstrap signer

#437 refactor: remove non-test sqlx macro usage
  .sqlx/query-0b459021d755641bf74d29a5ecff7cf426793f4afb9d85a6f601b1bfae6484dd.json
  .sqlx/query-0c280cd7c8321eb1d98247e0e765b53c053a1bab27fa73133a6048ff7dea4886.json
  .sqlx/query-0eb2503a6532dd712259c700cffa19d1270aae0999a22d612eb268e1b8c313e4.json
  .sqlx/query-0fad0ff623ee0fdcd312d0496e6ecd6f7f26814bc03ac1da6343b09cf4e4a2cc.json
  .sqlx/query-1826123bfe7c040503f7906dae1db3af5cc579e891792fc09cc0b3aca026bfa8.json
  .sqlx/query-1b77ff5797f4cf5b925c5ee7ef6edddacc8f518b680b4c93b5974b3744d73cfa.json
  .sqlx/query-28c87fcccf0c048811d5a012584fcbbb74da572748c1df19f4dcd4eabd4b0ae2.json
  .sqlx/query-28fc7df20711ca5bb499eb7b1073fa366cd913ac10baf2020470e04127b776d0.json
  .sqlx/query-3b6f863fe45f438f2e7dce23e3ecfccad0f04f00f1a43b182c190c338b909181.json
  .sqlx/query-3b84dbd0acf632696215464e51c2d75fc8ba4e40028260b032f2e800170e89b0.json
  .sqlx/query-3d4259acc548340242252522f9540908f969e88751ef8b638e8590633157f2d0.json
  .sqlx/query-42c772067177cb7c024f5dac69800e141c378ff68428786a7e81ef803366a092.json
  .sqlx/query-48b5274718cb55e0de6885ca853b38226330a0a42a47107875ac271fbef02a0c.json
  .sqlx/query-4d8b40e94cb12a4fcda6b08063bc247e2229d864bc6c6c6a89f25c91ba60f840.json
  .sqlx/query-4fb64688cf1d2f19ee77284e573e90c4e0a98a5feaaa5494f9be900fa5711a30.json
  .sqlx/query-4fec4a442f0356cafa317762d186a9f2e0e7faafb76cde66c91c82cd982fbbaa.json
  .sqlx/query-5587ae308102bca37042b94138f4b8408915fb2a601926b8725c94337ee45998.json
  .sqlx/query-5dad3621e124f16a72d73d2a59bec1bd42250c578f87c1f60814c45332981f7e.json
  .sqlx/query-6bf9fbdf3142ff64729a2d4f3a7212af6c7cefa22f85a14ee9c8b69b89560ca7.json
  .sqlx/query-7896fb52488c1fcbe60dffbbec171c4c4280b823864161d912d6f3b2a68cb432.json
  .sqlx/query-795e8d5fe763959a0be84d8d50492fdf7093005f06c348f329e855f78bc7ee1d.json
  .sqlx/query-7c4c43cf42ff0e868c6073688d63b0e26758306a472ed6ed1eee964566eefe2d.json
  .sqlx/query-95ec0d5710b2fb1bdf075105a7620b6d77a574149118e5f49dfebeea6fc527b9.json
  .sqlx/query-a34eff3db212c3756502df929ca874d46662bf885bd26c06e5b76fd6120417f6.json
  .sqlx/query-a3e73f6f28ec5e0aa1f2343840cb92fa8ddfa29cd0c4d58f753072a28ef64b63.json
  .sqlx/query-b211e70490cf93d029b188c86449fdc4208c8439c040ef1d17468437b1c697da.json
  .sqlx/query-d08bc71ec9928bceabe1f9b72343b88ce3fa98dacecf30e92fcd359cf96c0ccc.json
  .sqlx/query-eca9574a1501fc3b69e4e0ba88e7c2dfb5738b209c7c37515b8ff0d147133db6.json
  .sqlx/query-f576df5d7f16771de8432ad64d384b5d429bdcc3463f588895676e6d6c424704.json
  Dockerfile
  README.md
  signer/migrations/0003__create_tables.sql
  signer/src/bitcoin/utxo.rs
  signer/src/block_observer.rs
  signer/src/error.rs
  signer/src/message.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/testing/storage/model.rs
  signer/src/testing/transaction_signer.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/src/wsts_state_machine.rs
  signer/tests/integration/rbf.rs
Labels: sbtc bootstrap signer

#438 feat: Add stacks block height to withdrawal request (reorg part 1/4)
  .generated-sources/emily/openapi/emily-openapi-spec.json
  Makefile
  emily/handler/src/api/handlers/deposit.rs
  emily/handler/src/api/handlers/withdrawal.rs
  emily/handler/src/api/models/withdrawal/requests.rs
  emily/handler/tests/integration/complex/reorg.rs
  emily/handler/tests/integration/endpoints/deposit.rs
  emily/handler/tests/integration/endpoints/withdrawal.rs
  emily/handler/tests/integration/populate/mod.rs
Labels: emily

#442 feat: add types for smart contract events
  Cargo.lock
  Cargo.toml
  signer/Cargo.toml
  signer/src/api/mod.rs
  signer/src/api/new_block.rs
  signer/src/api/status.rs
  signer/src/error.rs
  signer/src/lib.rs
  signer/src/main.rs
  signer/src/stacks/contracts.rs
  signer/src/stacks/mod.rs
  signer/src/stacks/wallet.rs
  signer/src/stacks/webhooks.rs
  signer/tests/integration/postgres.rs
Labels: sbtc bootstrap signer

#440 Sort key ordered dynamodb access (reorg part 3/4)
  emily/handler/src/database/accessors.rs
  emily/handler/src/database/entries/chainstate.rs
  emily/handler/src/database/entries/deposit.rs
  emily/handler/src/database/entries/mod.rs
  emily/handler/src/database/entries/withdrawal.rs
  emily/handler/tests/integration/accessors.rs
  emily/handler/tests/integration/endpoints/withdrawal.rs
  emily/handler/tests/integration/util/mod.rs
Labels: emily

#444 refactor: bump our version of stacks core
  Cargo.lock
  Cargo.toml
  Makefile
  docker-compose.test.yml
  signer/src/keys.rs
  signer/src/stacks/api.rs
  signer/src/storage/postgres.rs
  signer/src/testing/storage.rs
  signer/tests/fixtures/tenure-blocks-0-1ed91e0720129bda5072540ee7283dd5345d0f6de0cf5b982c6de3943b6e3291.bin
  signer/tests/fixtures/tenure-blocks-0-e5fdeb1a51ba6eb297797a1c473e715c27dc81a58ba82c698f6a32eeccee9a5b.bin
  signer/tests/fixtures/tenure-blocks-1-5addaf4477a60a9bab28608aa2ec9ea9eb7d68aa038274ecac7a41fdca58e650.bin
  signer/tests/fixtures/tenure-blocks-1-8ff4eb1ed4a2f83faada29f6012b7f86f476eafed9921dff8d2c14cdfa30da94.bin
  signer/tests/integration/main.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/transaction_signer.rs
Labels: sbtc bootstrap signer

#445 Emily openapi template generation - (OpenAPI Client 1/3)
  .generated-sources/emily/openapi/build.rs
  .generated-sources/emily/openapi/emily-openapi-spec.json
  emily/handler/src/api/handlers/chainstate.rs
  emily/handler/src/api/handlers/deposit.rs
  emily/handler/src/api/handlers/health.rs
  emily/handler/src/api/handlers/withdrawal.rs
  emily/handler/src/api/models/chainstate.rs
  emily/handler/src/api/models/chainstate/requests.rs
  emily/handler/src/api/models/chainstate/responses.rs
  emily/handler/src/api/models/common/mod.rs
  emily/handler/src/api/models/deposit/mod.rs
  emily/handler/src/api/models/deposit/requests.rs
  emily/handler/src/api/models/deposit/responses.rs
  emily/handler/src/api/models/withdrawal/mod.rs
  emily/handler/src/api/models/withdrawal/requests.rs
  emily/handler/src/api/models/withdrawal/responses.rs
  emily/handler/src/api/routes/deposit.rs
  emily/handler/src/api/routes/withdrawal.rs
  emily/handler/src/database/accessors.rs
  emily/handler/src/database/entries/chainstate.rs
  emily/handler/src/database/entries/deposit.rs
  emily/handler/src/database/entries/withdrawal.rs
  emily/handler/tests/integration/endpoints/deposit.rs
  emily/handler/tests/integration/endpoints/withdrawal.rs
  emily/handler/tests/integration/util/mod.rs
Labels: emily

#450 refactor: refine smart contract print events
  contracts/contracts/sbtc-registry.clar
  contracts/contracts/sbtc-withdrawal.clar
  contracts/tests/clarigen-types.ts
  contracts/tests/sbtc-deposit.test.ts
  contracts/tests/sbtc-registry.test.ts
  contracts/tests/sbtc-token.test.ts
  contracts/tests/sbtc-withdrawal.test.ts
Labels: clarity

#446 Emily openapi client generation - (OpenAPI Client 2/3)
  .generated-sources/emily/client/rust/Cargo.toml
  .generated-sources/emily/client/rust/src/main.rs
  .generated-sources/emily/openapi/config.json
  .generated-sources/emily/openapi/openapitools.json
  .generated-sources/emily/openapi/package.json
  Cargo.lock
  Cargo.toml
  Makefile
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: emily

#461 feat: transform print events into proper types
  signer/src/config.rs
  signer/src/error.rs
  signer/src/stacks/contracts.rs
  signer/src/stacks/events.rs
  signer/src/stacks/mod.rs
  signer/src/stacks/wallet.rs
Labels: sbtc bootstrap signer

#452 feat: modify signature threshold rotate keys
  contracts/contracts/sbtc-bootstrap-signers.clar
  contracts/contracts/sbtc-registry.clar
  contracts/docs/sbtc-bootstrap-signers.md
  contracts/tests/clarigen-types.ts
  contracts/tests/sbtc-bootstrap-signers.test.ts
  contracts/tests/sbtc-registry.test.ts
  signer/src/stacks/contracts.rs
Labels: clarity
