Repository stacks-sbtc/sbtc, pull requests merged in 2024-11, with the labels that each got.

#743 380 feature handle lock times in deposit requests sql only
  signer/src/lib.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/postgres.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/postgres.rs
Labels: sbtc bootstrap signer

#755 chore: minor demo updates
  docker/sbtc/signer/signer-config.toml
  docker/stacks/stacks-regtest-miner.toml
  signer/src/bitcoin/rpc.rs
  signer/src/error.rs
  signer/src/transaction_coordinator.rs
Labels: sbtc bootstrap signer, half sprint demo

#732 feat: inform peers of new sweep transactions (#709)
  signer/src/context/messaging.rs
  signer/src/message.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/transaction_signer.rs
Labels: sbtc bootstrap signer

#733 feat: fallback to calculating stacks tx fee based on payload size
  signer/src/stacks/api.rs
  signer/src/stacks/wallet.rs
  signer/src/testing/block_observer.rs
  signer/src/testing/context.rs
  signer/src/transaction_coordinator.rs
  signer/tests/integration/contracts.rs
  signer/tests/integration/transaction_coordinator.rs
Labels: sbtc bootstrap signer

#756 feat: address invalid schnorr signature error
  Cargo.lock
  signer/Cargo.toml
  signer/src/error.rs
  signer/src/keys.rs
  signer/src/signature.rs
  signer/src/storage/model.rs
  signer/src/testing/transaction_coordinator.rs
  signer/src/testing/transaction_signer.rs
  signer/src/testing/wsts.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/transaction_coordinator.rs
Labels: sbtc bootstrap signer, half sprint demo

#764 fix: ignore swept deposits from get_pending_accepted_deposit_requests
  signer/src/stacks/contracts.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/tests/integration/complete_deposit.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/transaction_signer.rs
Labels: half sprint demo

#768 fix: local fixes linking stacks blocks to bitcoin blocks
  signer/src/stacks/api.rs
  signer/src/storage/model.rs
Labels: sbtc bootstrap signer, half sprint demo

#769 fix: byte reverse bug in contract call
  signer/src/stacks/contracts.rs
Labels: sbtc bootstrap signer, half sprint demo

#772 fix: devenv fixes and nakamoto waiting
  Makefile
  contracts/package.json
  docker/docker-compose.yml
  docker/stacks/stacks-regtest-miner.toml
  envs/signer-1.env
  envs/signer-2.env
  envs/signer-3.env
  pnpm-lock.yaml
  signer/src/main.rs
  signer/src/testing/transaction_coordinator.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/emily.rs
  signer/tests/integration/transaction_coordinator.rs
  signers.sh
Labels: sbtc bootstrap signer, half sprint demo

#775 chore: bump stacks core to `signer-3.0.0.0.1`
  Cargo.lock
  Cargo.toml
  docker/docker-compose.yml
  docker/stacks/stacks-regtest-miner.toml
  signer/src/testing/block_observer.rs
  signer/tests/fixtures/stacksapi-get-node-info-test-data.json
  signers.sh
Labels: chore, unplanned

#780 fix: update burn hash check in contract calls
  contracts/contracts/sbtc-deposit.clar
  contracts/contracts/sbtc-withdrawal.clar
  contracts/tests/sbtc-deposit.test.ts
  contracts/tests/sbtc-token.test.ts
  contracts/tests/sbtc-withdrawal.test.ts
Labels: clarity

#777 feat: refactor block observer runloop
  signer/src/block_observer.rs
  signer/src/context/termination.rs
  signer/src/testing/context.rs
Labels: sbtc signer binary

#781 fix: stop at nakamoto block height
  signer/src/block_observer.rs
  signer/src/error.rs
  signer/src/stacks/api.rs
  signer/src/testing/block_observer.rs
  signer/src/testing/context.rs
  signer/src/testing/mod.rs
  signer/src/testing/stacks.rs
  signer/tests/fixtures/stacksapi-v3-sortitions.json
  signer/tests/integration/block_observer.rs
  signer/tests/integration/contracts.rs
  signer/tests/integration/emily.rs
  signer/tests/integration/transaction_coordinator.rs
Labels: sbtc signer binary

#753 feat: Retry updates when a version conflict fails update
  emily/handler/src/api/handlers/deposit.rs
  emily/handler/src/api/handlers/withdrawal.rs
  emily/handler/src/database/accessors.rs
  emily/handler/src/database/entries/deposit.rs
  emily/handler/src/database/entries/withdrawal.rs
  signer/src/api/new_block.rs
  signer/tests/integration/stacks_events_observer.rs
Labels: emily

#749 feat: add functions for validating deposit prevouts part 2
  signer/src/error.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/postgres.rs
  signer/tests/integration/postgres.rs
Labels: sbtc signer binary

#808 feat: add protobuf conversion impls
  .generated-sources/blocklist-api/Cargo.toml
  Cargo.lock
  protobufs/stacks/signer/v1/decisions.proto
  signer/src/error.rs
  signer/src/keys.rs
  signer/src/proto/convert.rs
  signer/src/proto/generated/stacks.signer.v1.rs
  signer/src/proto/mod.rs
Labels: sbtc signer binary, signer communication

#803 feat: implement validation of deposit fees
  signer/src/bitcoin/utxo.rs
  signer/src/bitcoin/validation.rs
  signer/src/storage/postgres.rs
  signer/src/testing/btc.rs
  signer/src/testing/mod.rs
  signer/tests/integration/postgres.rs
Labels: sbtc signer binary

#805 feat: add functions to help create sighashes
  signer/migrations/0003__create_tables.sql
  signer/migrations/0004__create_functions.sql
  signer/src/bitcoin/validation.rs
  signer/src/block_observer.rs
  signer/src/message.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/testing/storage/model.rs
  signer/src/testing/transaction_coordinator.rs
  signer/src/transaction_coordinator.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/transaction_signer.rs
Labels: sbtc signer binary

#822 feat: deconstruct and store bitcoin transactions into inputs and outputs
  .generated-sources/blocklist-api/Cargo.toml
  .generated-sources/blocklist-api/src/apis/address_api.rs
  .generated-sources/blocklist-api/src/apis/configuration.rs
  .generated-sources/blocklist-api/src/apis/mod.rs
  .generated-sources/blocklist-api/src/lib.rs
  .generated-sources/blocklist-api/src/models/blocklist_status.rs
  .generated-sources/blocklist-api/src/models/error_response.rs
  .generated-sources/blocklist-api/src/models/risk_severity.rs
  .github/workflows/image-build.yaml
  Cargo.lock
  signer/migrations/0003__create_tables.sql
  signer/src/bitcoin/rpc.rs
  signer/src/bitcoin/utxo.rs
  signer/src/block_observer.rs
  signer/src/message.rs
  signer/src/stacks/contracts.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/testing/storage/model.rs
  signer/tests/integration/block_observer.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/transaction_coordinator.rs
  signer/tests/integration/transaction_signer.rs
Labels: sbtc signer binary

#819 feat: delete persistent data on dev stacks deletion
  .generated-sources/emily/client/rust/docs/ChainstateApi.md
  .generated-sources/emily/client/rust/docs/DepositApi.md
  .generated-sources/emily/client/rust/docs/HealthApi.md
  .generated-sources/emily/client/rust/docs/TestingApi.md
  .generated-sources/emily/client/rust/docs/WithdrawalApi.md
  .generated-sources/emily/client/rust/src/apis/chainstate_api.rs
  .generated-sources/emily/client/rust/src/apis/deposit_api.rs
  .generated-sources/emily/client/rust/src/apis/health_api.rs
  .generated-sources/emily/client/rust/src/apis/testing_api.rs
  .generated-sources/emily/client/rust/src/apis/withdrawal_api.rs
  emily/cdk/lib/constants.ts
  emily/cdk/lib/emily-stack-utils.ts
  emily/cdk/lib/emily-stack.ts
Labels: emily, test environment, chore

#834 feat: impl bitcoin-core's `gettxspendingprevout` and `getmempooldescendants` RPCs (#759 part 1)
  docker-compose.signer.yml
  docker/docker-compose.ci.yml
  docker/docker-compose.test.yml
  signer/src/bitcoin/client.rs
  signer/src/bitcoin/mod.rs
  signer/src/bitcoin/rpc.rs
  signer/src/error.rs
  signer/src/testing/block_observer.rs
  signer/src/testing/context.rs
  signer/tests/integration/bitcoin_rpc.rs
Labels: sbtc signer binary

#833 chore: mock RotateKeysTransactions with consistent addresses
  signer/src/testing/dummy.rs
  signer/src/testing/wsts.rs
  signer/tests/integration/rotate_keys.rs
Labels: chore

#838 feat: run blocklist client for deposits that we cannot sign for
  protobufs/stacks/signer/v1/decisions.proto
  signer/migrations/0003__create_tables.sql
  signer/src/bitcoin/validation.rs
  signer/src/message.rs
  signer/src/proto/convert.rs
  signer/src/proto/generated/stacks.signer.v1.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/testing/message.rs
  signer/src/testing/storage/model.rs
  signer/src/testing/transaction_signer.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/emily.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/transaction_signer.rs
Labels: sbtc signer binary, deposit

#841 feat: add withdrawal request report types and stubs
  signer/src/bitcoin/utxo.rs
  signer/src/bitcoin/validation.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/postgres.rs
Labels: sbtc signer binary

#821 feat: Add API key generation to CDK
  emily/cdk/lib/constants.ts
  emily/cdk/lib/emily-stack-utils.ts
  emily/cdk/lib/emily-stack.ts
Labels: emily

#858 feat: add `gettxout` and `getmempoolentry` endpoints + tests
  docker-compose.signer.yml
  docker/docker-compose.ci.yml
  docker/docker-compose.test.yml
  signer/src/bitcoin/client.rs
  signer/src/bitcoin/mod.rs
  signer/src/bitcoin/rpc.rs
  signer/src/error.rs
  signer/src/testing/block_observer.rs
  signer/src/testing/context.rs
  signer/tests/integration/bitcoin_client.rs
  signer/tests/integration/bitcoin_rpc.rs
Labels: sbtc signer binary

#862 feat: Address possible underflow during reorg
  emily/handler/src/api/handlers/internal.rs
  emily/handler/src/database/accessors.rs
Labels: emily

#870 feat: simplify internal networking
  signer/src/context/messaging.rs
  signer/src/context/mod.rs
  signer/src/context/termination.rs
  signer/src/network/in_memory.rs
  signer/src/network/in_memory2.rs
  signer/src/network/libp2p/network.rs
  signer/src/network/mod.rs
  signer/src/testing/transaction_signer.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/emily.rs
  signer/tests/integration/transaction_coordinator.rs
  signer/tests/integration/transaction_signer.rs
Labels: bug, sbtc signer binary

#872 refactor: break up the transaction signer into two
  signer/src/context/messaging.rs
  signer/src/lib.rs
  signer/src/main.rs
  signer/src/request_decider.rs
  signer/src/testing/mod.rs
  signer/src/testing/request_decider.rs
  signer/src/testing/transaction_coordinator.rs
  signer/src/testing/transaction_signer.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/emily.rs
  signer/tests/integration/main.rs
  signer/tests/integration/request_decider.rs
  signer/tests/integration/transaction_coordinator.rs
  signer/tests/integration/transaction_signer.rs
Labels: sbtc signer binary

#881 feat: use mempool for sweep fees (part 3)
  signer/src/testing/context.rs
  signer/src/transaction_coordinator.rs
  signer/tests/integration/transaction_coordinator.rs
Labels: sbtc signer binary

#813 feat: Add production like docker compose for docs
  docker/prodlike/bitcoin/Dockerfile.bitcoin
  docker/prodlike/bitcoin/bitcoin.conf
  docker/prodlike/config/blocklist-client-config.toml
  docker/prodlike/config/signer-config.toml
  docker/prodlike/docker-compose.testnet.yml
Labels: documentation

#861 748 feature emily client authentication
  signer/src/bin/demo_cli.rs
  signer/src/config/default.toml
  signer/src/config/mod.rs
  signer/src/context/signer_context.rs
  signer/src/emily_client.rs
  signer/src/main.rs
Labels: emily, sbtc signer binary

#896 855 Feature add an endpoint in emily for getting the sbtc cap
  .generated-sources/emily/openapi/build.rs
  .generated-sources/emily/openapi/emily-openapi-spec.json
  emily/cdk/lib/emily-stack.ts
  emily/handler/src/api/handlers/limits.rs
  emily/handler/src/api/handlers/mod.rs
  emily/handler/src/api/models/limits.rs
  emily/handler/src/api/models/mod.rs
  emily/handler/src/api/routes/limits.rs
  emily/handler/src/api/routes/mod.rs
  emily/handler/src/common/error.rs
  emily/handler/src/context.rs
  emily/handler/src/database/accessors.rs
  emily/handler/src/database/entries/limits.rs
  emily/handler/src/database/entries/mod.rs
  emily/handler/tests/integration/limits.rs
  emily/handler/tests/integration/main.rs
Labels: emily

#890 feat: Add custom root domain name option.
  emily/cdk/lib/constants.ts
  emily/cdk/lib/emily-stack-utils.ts
  emily/cdk/lib/emily-stack.ts
Labels: emily

#900 refactor: simplify block observer
  signer/src/block_observer.rs
  signer/src/main.rs
  signer/tests/integration/block_observer.rs
  signer/tests/integration/emily.rs
  signer/tests/integration/rbf.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/transaction_coordinator.rs
  signer/tests/integration/utxo_construction.rs
Labels: sbtc signer binary

#903 fix: fetch deposit requests from emily before storing decisions
  .generated-sources/emily/client/rust/.openapi-generator/FILES
  .generated-sources/emily/client/rust/README.md
  .generated-sources/emily/client/rust/docs/AccountLimits.md
  .generated-sources/emily/client/rust/docs/Limits.md
  .generated-sources/emily/client/rust/docs/LimitsApi.md
  .generated-sources/emily/client/rust/src/apis/limits_api.rs
  .generated-sources/emily/client/rust/src/apis/mod.rs
  .generated-sources/emily/client/rust/src/models/account_limits.rs
  .generated-sources/emily/client/rust/src/models/limits.rs
  .generated-sources/emily/client/rust/src/models/mod.rs
  signer/src/block_observer.rs
  signer/src/emily_client.rs
  signer/src/request_decider.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/postgres.rs
  signer/src/testing/block_observer.rs
  signer/src/testing/context.rs
  signer/tests/integration/block_observer.rs
  signer/tests/integration/emily.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/request_decider.rs
  signer/tests/integration/transaction_coordinator.rs
Labels: bug, sbtc signer binary

#906 fix: remove the foreign key constraint on rotate-keys event table
  signer/migrations/0003__create_tables.sql
Labels: bug, sbtc signer binary

#849 feat: signers create bitcoin sighashes
  signer/src/bitcoin/utxo.rs
  signer/src/bitcoin/validation.rs
  signer/src/block_observer.rs
  signer/src/error.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/tests/integration/bitcoin_validation.rs
  signer/tests/integration/main.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/setup.rs
Labels: sbtc signer binary, deposit

#930 feat: ensure signers go through the bitcoin validation code path
  signer/src/bitcoin/validation.rs
  signer/src/error.rs
  signer/src/message.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/src/wsts_state_machine.rs
  signer/tests/integration/bitcoin_validation.rs
  signer/tests/integration/transaction_signer.rs
Labels: sbtc signer binary

#933 fix: deposit max-fees must not exceed the deposit amount
  signer/src/bitcoin/utxo.rs
Labels: sbtc signer binary

#961 feat: change emily config to uri
  docker/sbtc/signer/signer-config.toml
  envs/signer-1.env
  envs/signer-2.env
  envs/signer-3.env
  signer/src/bin/demo_cli.rs
  signer/src/config/default.toml
  signer/src/config/mod.rs
  signer/src/emily_client.rs
Labels: sbtc signer binary

#840 refactor: use `SIGHASH_ALL` explicitly
  sbtc/src/testing/regtest.rs
  signer/src/bitcoin/utxo.rs
  signer/src/signature.rs
  signer/src/testing/mod.rs
Labels: sbtc signer binary, deposit

#926 chore: logging updates
  Cargo.lock
  signer/Cargo.toml
  signer/src/api/new_block.rs
  signer/src/main.rs
  signer/src/network/libp2p/event_loop.rs
  signer/src/network/libp2p/swarm.rs
  signer/src/stacks/api.rs
  signer/src/stacks/wallet.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/src/wsts_state_machine.rs
Labels: sbtc signer binary

#968 feat: do not attempt to vote on requests more than once
  signer/src/request_decider.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/postgres.rs
  signer/src/testing/storage.rs
  signer/src/testing/storage/postgres.rs
  signer/tests/integration/block_observer.rs
  signer/tests/integration/emily.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/request_decider.rs
Labels: sbtc signer binary
