Repository stacks-sbtc/sbtc, pull requests merged in 2024-07, with the labels that each got.

#266 Pivot Emily Api Implementation to use Utoipa for OpenAPI Specification Generation.
  .generated-sources/emily/Cargo.toml
  .generated-sources/emily/build.rs
  .generated-sources/emily/openapi/Cargo.toml
  .generated-sources/emily/openapi/build.rs
  .generated-sources/emily/openapi/emily-openapi-spec.json
  .generated-sources/emily/openapi/src/main.rs
  .generated-sources/emily/src/main.rs
  .github/workflows/unit-tests.yaml
  Cargo.lock
  Cargo.toml
  Makefile
  devenv/service-test/curl-test.sh
  docker-compose.emily.yml
  emily/api-definition/models/chainstate/ops.smithy
  emily/api-definition/models/chainstate/structures.smithy
  emily/api-definition/models/common.smithy
  emily/api-definition/models/deposits/ops.smithy
  emily/api-definition/models/deposits/structures.smithy
  emily/api-definition/models/emily.smithy
  emily/api-definition/models/errors.smithy
  emily/api-definition/models/withdrawals/ops.smithy
  emily/api-definition/models/withdrawals/structures.smithy
  emily/api-definition/openapitools.json
  emily/api-definition/package.json
  emily/api-definition/rust-config.json
  emily/api-definition/smithy-build.json
  emily/cdk/lib/emily-stack-utils.ts
  emily/cdk/lib/emily-stack.ts
  emily/handler/Cargo.toml
  emily/handler/README.md
  emily/handler/src/api/handlers.rs
  emily/handler/src/api/mod.rs
  emily/handler/src/api/routes.rs
  emily/handler/src/client/mod.rs
  emily/handler/src/client/risk_client.rs
  emily/handler/src/common/error.rs
  emily/handler/src/common/mod.rs
  emily/handler/src/config.rs
  emily/handler/src/config/default.toml
  emily/handler/src/lib.rs
  emily/handler/src/main.rs
  emily/lambda/Cargo.toml
  emily/lambda/build-lambda.sh
  emily/lambda/src/common.rs
  emily/lambda/src/errors.rs
  emily/lambda/src/eventhandler.rs
  emily/lambda/src/lib.rs
  emily/lambda/src/main.rs
  emily/lambda/src/operations.rs
  emily/lambda/src/operations/chainstate.rs
  emily/lambda/src/operations/deposits.rs
  emily/lambda/src/operations/withdrawals.rs
  emily/lambda/src/utils.rs
  emily/lambda/src/utils/test.rs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: emily

#270 feat: support sBTC mint transactions
  signer/src/stacks/contracts.rs
  signer/tests/integration/contracts.rs
  signer/tests/integration/main.rs
Labels: sbtc bootstrap signer

#279 272 feature add withdrawal and chainstate endpoints
  .generated-sources/emily/openapi/build.rs
  .generated-sources/emily/openapi/emily-openapi-spec.json
  emily/handler/src/api/handlers/chainstate.rs
  emily/handler/src/api/handlers/deposit.rs
  emily/handler/src/api/handlers/mod.rs
  emily/handler/src/api/handlers/withdrawal.rs
  emily/handler/src/api/routes/chainstate.rs
  emily/handler/src/api/routes/deposit.rs
  emily/handler/src/api/routes/health.rs
  emily/handler/src/api/routes/mod.rs
  emily/handler/src/api/routes/withdrawal.rs
Labels: emily

#281 feat: support broadcasting sbtc burn transactions
  Cargo.lock
  Cargo.toml
  signer/Cargo.toml
  signer/src/stacks/contracts.rs
  signer/tests/integration/contracts.rs
Labels: sbtc bootstrap signer

#284 Emily api request and response models
  .generated-sources/emily/openapi/build.rs
  .generated-sources/emily/openapi/emily-openapi-spec.json
  emily/handler/src/api/handlers/chainstate.rs
  emily/handler/src/api/handlers/deposit.rs
  emily/handler/src/api/handlers/mod.rs
  emily/handler/src/api/handlers/withdrawal.rs
  emily/handler/src/api/models/chainstate/mod.rs
  emily/handler/src/api/models/chainstate/requests.rs
  emily/handler/src/api/models/chainstate/responses.rs
  emily/handler/src/api/models/common/mod.rs
  emily/handler/src/api/models/common/requests.rs
  emily/handler/src/api/models/deposit/mod.rs
  emily/handler/src/api/models/deposit/requests.rs
  emily/handler/src/api/models/deposit/responses.rs
  emily/handler/src/api/models/health/mod.rs
  emily/handler/src/api/models/health/responses.rs
  emily/handler/src/api/models/mod.rs
  emily/handler/src/api/models/responses/mod.rs
  emily/handler/src/api/models/withdrawal/mod.rs
  emily/handler/src/api/models/withdrawal/requests.rs
  emily/handler/src/api/models/withdrawal/responses.rs
  emily/handler/src/api/routes/chainstate.rs
  emily/handler/src/api/routes/deposit.rs
  emily/handler/src/api/routes/withdrawal.rs
Labels: emily

#299 feat: support submitting stacks transactions
  signer/src/stacks/api.rs
Labels: sbtc bootstrap signer

#302 feat: fetching nonce from stacks node
  signer/src/error.rs
  signer/src/stacks/api.rs
Labels: sbtc bootstrap signer

#300 feat: support signing other stacks transaction types
  contracts/contracts/sbtc-registry.clar
  contracts/contracts/sbtc-withdrawal.clar
  contracts/tests/sbtc-withdrawal.test.ts
  signer/src/error.rs
  signer/src/stacks/contracts.rs
  signer/src/stacks/wallet.rs
Labels: sbtc bootstrap signer

#303 ci: integration test setup deploying smart contracts
  signer/src/stacks/api.rs
  signer/src/stacks/contracts.rs
  signer/src/stacks/wallet.rs
  signer/src/testing.rs
  signer/src/testing/wallet.rs
  signer/tests/integration/contracts.rs
  signer/tests/stacks/stacks-node-config.toml
Labels: sbtc bootstrap signer

#308 feat: support key rotation contract calls
  contracts/contracts/sbtc-bootstrap-signers.clar
  contracts/contracts/sbtc-registry.clar
  contracts/docs/sbtc-bootstrap-signers.md
  contracts/tests/clarigen-types.ts
  signer/src/error.rs
  signer/src/lib.rs
  signer/src/stacks/contracts.rs
  signer/src/stacks/wallet.rs
  signer/tests/stacks/stacks-node-config.toml
Labels: sbtc bootstrap signer

#331 289 feature dynamodb data accessor integration tests
  Cargo.lock
  Makefile
  emily/handler/Cargo.toml
  emily/handler/src/api/handlers/withdrawal.rs
  emily/handler/src/api/models/chainstate/mod.rs
  emily/handler/src/api/models/common/mod.rs
  emily/handler/src/api/models/deposit/mod.rs
  emily/handler/src/api/models/withdrawal/mod.rs
  emily/handler/tests/integration/endpoints/chainstate.rs
  emily/handler/tests/integration/endpoints/deposit.rs
  emily/handler/tests/integration/endpoints/mod.rs
  emily/handler/tests/integration/endpoints/util.rs
  emily/handler/tests/integration/endpoints/withdrawal.rs
  emily/handler/tests/integration/main.rs
Labels: emily

#333 feat: construct bitcoin deposit addresses
  Cargo.lock
  common/Cargo.toml
  common/src/deposits.rs
  common/src/lib.rs
  signer/src/utxo.rs
  signer/tests/integration/utxo_construction.rs
Labels: transaction library

#334 feat: add a deposit script parsing function
  common/src/deposits.rs
Labels: transaction library

#344 feat: add reclaim script parsing function
  common/src/deposits.rs
  common/src/lib.rs
Labels: transaction library

#350 feat: validate bitcoin deposit transactions
  common/src/deposits.rs
  signer/src/utxo.rs
Labels: transaction library

#345 feat: support contract principals in complete-deposit contract calls
  signer/src/stacks/contracts.rs
  signer/tests/integration/contracts.rs
  signer/tests/integration/postgres.rs
Labels: sbtc bootstrap signer

#359 tech-debt: Remove common lib from emily handler dependencies.
  Cargo.lock
  emily/handler/Cargo.toml
  emily/handler/src/logging.rs
  emily/handler/src/main.rs
Labels: emily

#356 feat: add signer bitmap to BTC sweep transactions
  signer/src/stacks/contracts.rs
  signer/src/testing.rs
  signer/src/utxo.rs
  signer/tests/integration/contracts.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/rbf.rs
  signer/tests/integration/regtest.rs
  signer/tests/integration/utxo_construction.rs
Labels: utxo consolidation

#361 feat: support estimating contract calls fees
  signer/src/block_observer.rs
  signer/src/error.rs
  signer/src/stacks/api.rs
  signer/src/stacks/contracts.rs
  signer/tests/integration/contracts.rs
  signer/tests/integration/postgres.rs
Labels: sbtc bootstrap signer

#364 feat: extract deposit request transactions
  Cargo.lock
  Cargo.toml
  sbtc/Cargo.toml
  sbtc/src/deposits.rs
  sbtc/src/error.rs
  sbtc/src/lib.rs
  sbtc/src/rpc.rs
Labels: transaction library

#367 ci: add deposit validation integration tests
  Cargo.lock
  docker-compose.local.yml
  docker-compose.test.yml
  sbtc/Cargo.toml
  sbtc/src/deposits.rs
  sbtc/src/lib.rs
  sbtc/src/testing/deposits.rs
  sbtc/src/testing/mod.rs
  sbtc/src/testing/regtest.rs
  sbtc/tests/integration/main.rs
  sbtc/tests/integration/rpc.rs
  sbtc/tests/integration/validation.rs
  signer/Cargo.toml
  signer/tests/integration/main.rs
  signer/tests/integration/rbf.rs
  signer/tests/integration/utxo_construction.rs
  signer/tests/service-configs/bitcoin.conf
  signer/tests/service-configs/electrs.toml
  signer/tests/service-configs/stacks-node.toml
  signer/tests/stacks/stacks-signer-config.toml
Labels: transaction library

#368 feat: robust stacks transaction fee estimation
  signer/src/block_observer.rs
  signer/src/stacks/api.rs
  signer/tests/integration/contracts.rs
Labels: sbtc bootstrap signer

#369 feat: add electrum for fee estimates
  sbtc/src/deposits.rs
  sbtc/src/error.rs
  sbtc/src/rpc.rs
  sbtc/tests/integration/rpc.rs
  signer/src/fees.rs
  signer/tests/integration/rbf.rs
  signer/tests/integration/utxo_construction.rs
Labels: transaction library, utxo consolidation

#373 feat: Simple pull request template.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation
