Repository stacks-sbtc/sbtc, pull requests merged in 2024-12, with the labels that each got.

#1000 fix: address the lingering bug when converting a `Point` into a `PublicKey`
  signer/src/keys.rs
Labels: bug

#997 feat: check message source is in the current signing set
  signer/src/network/libp2p/event_loop.rs
  signer/src/network/libp2p/network.rs
Labels: signer communication

#956 feat: wait for acks from signers after BitcoinPreSignRequest
  protobufs/stacks/signer/v1/messages.proto
  signer/src/main.rs
  signer/src/message.rs
  signer/src/proto/convert.rs
  signer/src/proto/generated/stacks.signer.v1.rs
  signer/src/request_decider.rs
  signer/src/testing/dummy.rs
  signer/src/testing/transaction_coordinator.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/emily.rs
  signer/tests/integration/transaction_coordinator.rs
  signer/tests/integration/transaction_signer.rs
Labels: signer communication

#957 fix: add integrity protection for all messages
  protobufs/stacks/signer/v1/requests.proto
  signer/build.rs
  signer/src/bitcoin/validation.rs
  signer/src/codec.rs
  signer/src/ecdsa.rs
  signer/src/message.rs
  signer/src/proto/convert.rs
  signer/src/proto/generated/crypto.wsts.rs
  signer/src/proto/generated/stacks.signer.v1.rs
  signer/src/proto/mod.rs
  signer/src/request_decider.rs
  signer/src/stacks/contracts.rs
  signer/src/storage/model.rs
  signer/src/testing/dummy.rs
  signer/src/testing/message.rs
  signer/src/testing/transaction_signer.rs
  signer/src/testing/wsts.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/bitcoin_validation.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/transaction_signer.rs
Labels: flagged by AR

#958 feat: verify all p2p messages
  protobufs/crypto/common.proto
  protobufs/stacks/signer/v1/messages.proto
  signer/src/codec.rs
  signer/src/ecdsa.rs
  signer/src/error.rs
  signer/src/message.rs
  signer/src/network/in_memory.rs
  signer/src/network/in_memory2.rs
  signer/src/network/libp2p/event_loop.rs
  signer/src/network/libp2p/network.rs
  signer/src/proto/convert.rs
  signer/src/proto/generated/crypto.rs
  signer/src/proto/generated/stacks.signer.v1.rs
  signer/src/request_decider.rs
  signer/src/testing/dummy.rs
  signer/src/testing/message.rs
  signer/src/testing/network.rs
  signer/src/testing/transaction_signer.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/communication.rs
Labels: signer communication

#1010 feat: store completed-deposit and withdrawal-accept events with consistent burnhash ordering
  signer/migrations/0006__fix_stacks_event_block_hashes.sql
  signer/src/stacks/events.rs
Labels: sbtc signer binary, unplanned

#1031 On demand ddb tables
  emily/cdk/lib/emily-stack.ts
Labels: emily

#1037 Allow reorg with special api key
  Makefile
  docker/sbtc/emily-aws-setup/Dockerfile.ci
  docker/sbtc/emily-aws-setup/initialize.py
  emily/cdk/bin/emily.ts
  emily/cdk/lib/emily-stack-props.ts
  emily/cdk/lib/emily-stack-utils.ts
  emily/cdk/lib/emily-stack.ts
  emily/cdk/test/emily-stack-util.test.ts
  emily/cdk/test/emily-stack.test.ts
  emily/handler/src/api/handlers/chainstate.rs
  emily/handler/src/api/handlers/deposit.rs
  emily/handler/src/api/handlers/withdrawal.rs
  emily/handler/src/api/routes/chainstate.rs
  emily/handler/src/api/routes/deposit.rs
  emily/handler/src/api/routes/withdrawal.rs
  emily/handler/src/context.rs
  emily/handler/tests/integration/common.rs
  emily/handler/tests/integration/config.rs
  emily/handler/tests/integration/config/default.toml
  signer/tests/integration/block_observer.rs
  signer/tests/integration/emily.rs
  signer/tests/integration/request_decider.rs
  signer/tests/integration/stacks_events_observer.rs
  signer/tests/integration/transaction_coordinator.rs
Labels: emily

#1045 fix: only accept deposits if all inputs are fine
  signer/src/request_decider.rs
Labels: sbtc signer binary, signer blocklist client

#1065 chore: update stacks core git commit to the 3.1.0.0.0 release
  Cargo.lock
  Cargo.toml
  docker/docker-compose.yml
  docker/sbtc/signer/signer-config.toml
  docker/stacks/stacks-regtest-miner.toml
  supply-chain/config.toml
Labels: sbtc signer binary

#1062 fix: bitcoin zmq subscriptions are not re created after lost connection
  Cargo.lock
  Cargo.toml
  docker/docker-compose.test.yml
  signer/Cargo.toml
  signer/src/bitcoin/zmq.rs
  signer/src/error.rs
  supply-chain/config.toml
Labels: sbtc signer binary

#1048 feat: remove need of context window for signers utxo
  signer/migrations/0007__create_bitcoin_blockchain_from.sql
  signer/migrations/0008__create_indices_bitcoin_tx_tables.sql
  signer/src/bitcoin/validation.rs
  signer/src/lib.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/postgres.rs
  signer/src/testing/transaction_coordinator.rs
  signer/src/transaction_coordinator.rs
  signer/tests/integration/bitcoin_validation.rs
  signer/tests/integration/block_observer.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/transaction_coordinator.rs
  signer/tests/integration/transaction_signer.rs
Labels: sbtc signer binary

#1075 898 Feature Emily CORS Support
  .generated-sources/emily/client/rust/.openapi-generator/FILES
  .generated-sources/emily/client/rust/README.md
  .generated-sources/emily/client/rust/docs/CorsApi.md
  .generated-sources/emily/client/rust/src/apis/cors_api.rs
  .generated-sources/emily/client/rust/src/apis/mod.rs
  .generated-sources/emily/openapi/build.rs
  .generated-sources/emily/openapi/emily-openapi-spec.json
  emily/handler/src/bin/emily-lambda.rs
  emily/handler/src/bin/emily-server.rs
Labels: emily

#1060 fix: remove sweep transaction message
  protobufs/stacks/signer/v1/messages.proto
  signer/migrations/0009__drop_sweep_tables.sql
  signer/migrations/0010__add_bitcoin_tx_related_indices.sql
  signer/src/ecdsa.rs
  signer/src/message.rs
  signer/src/proto/convert.rs
  signer/src/proto/generated/stacks.signer.v1.rs
  signer/src/request_decider.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/testing/dummy.rs
  signer/src/testing/message.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/complete_deposit.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/rbf.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/transaction_coordinator.rs
  signer/tests/integration/transaction_signer.rs
Labels: bug, sbtc signer binary, signer communication, breaking-protocol

#1079 fix: handle locktime of 16 correctly
  sbtc/src/deposits.rs
Labels: bug, transaction library

#1072 Emily docs
  emily/README.md
Labels: documentation, emily

#1033 feat: Remove ApiKey need from Emily Get Limit requests
  .generated-sources/emily/client/rust/private/docs/LimitsApi.md
  .generated-sources/emily/client/rust/private/src/apis/limits_api.rs
  .generated-sources/emily/client/rust/public/docs/LimitsApi.md
  .generated-sources/emily/client/rust/public/src/apis/limits_api.rs
  .generated-sources/emily/client/rust/testing/docs/LimitsApi.md
  .generated-sources/emily/client/rust/testing/src/apis/limits_api.rs
  .generated-sources/emily/openapi/generated-specs/private-emily-openapi-spec.json
  .generated-sources/emily/openapi/generated-specs/public-emily-openapi-spec.json
  .generated-sources/emily/openapi/generated-specs/testing-emily-openapi-spec.json
  emily/handler/src/api/handlers/limits.rs
Labels: emily

#1084 feat: implement signer metrics exporter
  Cargo.lock
  Cargo.toml
  signer/Cargo.toml
  signer/build.rs
  signer/src/api/new_block.rs
  signer/src/block_observer.rs
  signer/src/config/default.toml
  signer/src/config/mod.rs
  signer/src/lib.rs
  signer/src/main.rs
  signer/src/message.rs
  signer/src/metrics.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
Labels: sbtc signer binary, Observability

#1095 Backwards compatible api keys
  emily/cdk/lib/emily-stack.ts
Labels: emily

#1097 fix: length bug in rotate-keys-wrapper contract call
  contracts/contracts/sbtc-bootstrap-signers.clar
  contracts/contracts/sbtc-deposit.clar
  contracts/docs/sbtc-bootstrap-signers.md
  contracts/tests/clarigen-types.ts
  contracts/tests/sbtc-bootstrap-signers.test.ts
  contracts/tests/sbtc-deposit.test.ts
Labels: bug, clarity

#1093 feat: add bitcoin block start height to the signers
  docker/sbtc/signer/signer-config.toml
  docker/testnet/config/signer-config.toml.sample
  signer/src/bitcoin/client.rs
  signer/src/bitcoin/mod.rs
  signer/src/bitcoin/rpc.rs
  signer/src/block_observer.rs
  signer/src/config/default.toml
  signer/src/config/mod.rs
  signer/src/context/signer_context.rs
  signer/src/context/signer_state.rs
  signer/src/error.rs
  signer/src/main.rs
  signer/src/request_decider.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/testing/block_observer.rs
  signer/src/testing/context.rs
  signer/src/testing/dummy.rs
  signer/tests/integration/bitcoin_rpc.rs
  signer/tests/integration/block_observer.rs
  signer/tests/integration/emily.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/transaction_coordinator.rs
Labels: sbtc signer binary

#1111 feat: Make emily api able to migrate
  emily/cdk/lib/constants.ts
  emily/cdk/lib/emily-stack-utils.ts
  emily/cdk/lib/emily-stack.ts
Labels: emily

#1066 feat: do not update chainstate from signers
  signer/src/api/new_block.rs
  signer/tests/integration/stacks_events_observer.rs
Labels: sbtc signer binary

#1103 feat: use consistent hash endianness in contract calls
  signer/src/stacks/contracts.rs
  signer/src/stacks/events.rs
  signer/src/storage/model.rs
Labels: sbtc signer binary

#1115 fix: run DKG only once
  signer/src/error.rs
  signer/src/keys.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/postgres.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/src/wsts_state_machine.rs
  signer/tests/integration/stacks_events_observer.rs
Labels: sbtc signer binary, key rotation

#1120 fix: Update block hash along with reorg.
  emily/handler/src/database/entries/deposit.rs
  emily/handler/src/database/entries/withdrawal.rs
Labels: emily

#1128 refactor: remove unused messages
  protobufs/stacks/signer/v1/decisions.proto
  protobufs/stacks/signer/v1/messages.proto
  protobufs/stacks/signer/v1/requests.proto
  signer/src/ecdsa.rs
  signer/src/message.rs
  signer/src/proto/convert.rs
  signer/src/proto/generated/stacks.signer.v1.rs
  signer/src/request_decider.rs
  signer/src/testing/message.rs
  signer/src/testing/transaction_signer.rs
  signer/src/testing/wsts.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/transaction_signer.rs
Labels: sbtc signer binary

#1123 ci: clean up databases in integration tests
  signer/tests/integration/bitcoin_validation.rs
  signer/tests/integration/block_observer.rs
  signer/tests/integration/postgres.rs
Labels: chore

#1121 Deposit minimums in limits
  .generated-sources/emily/client/rust/private/docs/AccountLimits.md
  .generated-sources/emily/client/rust/private/docs/Limits.md
  .generated-sources/emily/client/rust/private/src/models/account_limits.rs
  .generated-sources/emily/client/rust/private/src/models/limits.rs
  .generated-sources/emily/client/rust/public/docs/AccountLimits.md
  .generated-sources/emily/client/rust/public/docs/Limits.md
  .generated-sources/emily/client/rust/public/src/models/account_limits.rs
  .generated-sources/emily/client/rust/public/src/models/limits.rs
  .generated-sources/emily/client/rust/testing/docs/AccountLimits.md
  .generated-sources/emily/client/rust/testing/docs/Limits.md
  .generated-sources/emily/client/rust/testing/src/models/account_limits.rs
  .generated-sources/emily/client/rust/testing/src/models/limits.rs
  .generated-sources/emily/openapi/generated-specs/private-emily-openapi-spec.json
  .generated-sources/emily/openapi/generated-specs/public-emily-openapi-spec.json
  .generated-sources/emily/openapi/generated-specs/testing-emily-openapi-spec.json
  emily/handler/src/api/handlers/limits.rs
  emily/handler/src/api/models/limits.rs
  emily/handler/src/context.rs
  emily/handler/src/database/accessors.rs
  emily/handler/src/database/entries/limits.rs
  emily/handler/tests/integration/limits.rs
Labels: emily

#1153 chore: bump wsts version
  Cargo.lock
  signer/Cargo.toml
Labels: chore

#1178 fix: ensure mint amount is greater than the dust limit
  signer/src/bitcoin/utxo.rs
  signer/src/bitcoin/validation.rs
  signer/src/lib.rs
  signer/src/stacks/contracts.rs
  signer/src/testing/block_observer.rs
  signer/tests/integration/complete_deposit.rs
  signer/tests/integration/setup.rs
Labels: bug, sbtc signer binary, breaking-protocol
