Repository stacks-sbtc/sbtc, pull requests merged in 2025-07, with the labels that each got.

#1734 feat: use stacks core for signer set data
  signer/src/block_observer.rs
  signer/src/context/signer_state.rs
  signer/src/stacks/api.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres/read.rs
  signer/src/testing/block_observer.rs
  signer/src/testing/context.rs
  signer/src/testing/transaction_coordinator.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/block_observer.rs
  signer/tests/integration/transaction_coordinator.rs
  signer/tests/integration/transaction_signer.rs
Labels: sbtc signer binary

#1769 feat: add metrics for smart contract read requests
  signer/src/metrics.rs
  signer/src/proto/convert.rs
  signer/src/stacks/api.rs
  signer/src/stacks/contracts.rs
  signer/tests/devenv/devenv.rs
Labels: sbtc signer binary, Observability

#1771 fix: do not fetch bitcoin chain tip from db
  signer/src/api/info.rs
  signer/src/block_observer.rs
  signer/src/context/signer_state.rs
  signer/src/error.rs
  signer/src/request_decider.rs
  signer/src/storage/mod.rs
  signer/src/storage/postgres/read.rs
  signer/src/testing/request_decider.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/request_decider.rs
  signer/tests/integration/transaction_coordinator.rs
Labels: bug, sbtc signer binary

#1783 [chore]: bump rust & use Makefile in CI lints
  .github/actions/dockerfiles/Dockerfile.blocklist-client.debian
  .github/actions/dockerfiles/Dockerfile.signer.debian
  .github/workflows/on-push.yaml
  README.md
  blocklist-client/src/api/handlers.rs
  blocklist-client/src/client/risk_client.rs
  blocklist-client/src/client/sanctions.rs
  docker/sbtc/Dockerfile
  emily/handler/src/api/handlers/mod.rs
  emily/handler/src/api/routes/mod.rs
  rust-toolchain.toml
  sbtc/src/idpack/segment.rs
  sbtc/src/idpack/tests.rs
  sbtc/src/leb128.rs
  signer/src/bin/demo_cli.rs
  signer/src/bitcoin/packaging.rs
  signer/src/bitcoin/validation.rs
  signer/src/blocklist_client.rs
  signer/src/config/mod.rs
  signer/src/dkg/testing.rs
  signer/src/dkg/verification.rs
  signer/src/message.rs
  signer/src/stacks/api.rs
  signer/src/testing/storage.rs
  signer/src/transaction_coordinator.rs
  signer/src/wsts_state_machine.rs
  signer/tests/integration/communication.rs
  signer/tests/integration/transaction_signer.rs
Labels: chore

#1794 chore: fix the `bitcoin-miner`'s script in `devenv` to not crash if bitcoin is unavailable
  docker/bitcoin/miner.sh
  docker/docker-compose.yml
Labels: chore, testing

#1689 feat: #1136 persist known, valid p2p peers & consider them during bootstrapping
  signer/migrations/0018__store_reclaim_script_hash.sql
  signer/migrations/0019__p2p_peers.sql
  signer/src/context/signer_state.rs
  signer/src/main.rs
  signer/src/network/libp2p/bootstrap.rs
  signer/src/network/libp2p/event_loop.rs
  signer/src/network/libp2p/network.rs
  signer/src/network/libp2p/swarm.rs
  signer/src/storage/memory/read.rs
  signer/src/storage/memory/store.rs
  signer/src/storage/memory/write.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres/read.rs
  signer/src/storage/postgres/write.rs
  signer/src/storage/sqlx.rs
  signer/src/testing/context.rs
  signer/src/testing/dummy.rs
  signer/src/testing/network.rs
  signer/tests/integration/communication.rs
  signer/tests/integration/postgres.rs
Labels: sbtc signer binary

#1787 [feat]: add node info logger && enable debug logs in devenv
  signer/src/api/info.rs
  signer/src/api/mod.rs
  signer/src/logging.rs
  signer/src/main.rs
Labels: sbtc signer binary
