Repository stacks-sbtc/sbtc, pull requests merged in 2025-02, with the labels that each got.

#1298 feat: cache key-rotation data block observer
  signer/src/bitcoin/validation.rs
  signer/src/bitcoin/zmq.rs
  signer/src/block_observer.rs
  signer/src/context/signer_state.rs
  signer/src/main.rs
  signer/src/testing/btc.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/block_observer.rs
  signer/tests/integration/transaction_coordinator.rs
  signer/tests/integration/transaction_signer.rs
  signer/tests/integration/zmq.rs
Labels: sbtc signer binary

#1221 refactor: pass around block refs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/transaction_signer.rs
Labels: sbtc signer binary

#1287 refactor: wsts-related cleanup
  Cargo.lock
  Cargo.toml
  protobufs/stacks/signer/v1/messages.proto
  signer/src/message.rs
  signer/src/proto/convert.rs
  signer/src/proto/generated/stacks.signer.v1.rs
  signer/src/testing/message.rs
  signer/src/testing/transaction_coordinator.rs
  signer/src/testing/transaction_signer.rs
  signer/src/testing/wsts.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/src/wsts_state_machine.rs
  signer/tests/integration/block_observer.rs
  signer/tests/integration/emily.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/transaction_coordinator.rs
  signer/tests/integration/transaction_signer.rs
  supply-chain/config.toml
Labels: breaking-protocol

#1285 feat: consensus on successful DKG prior to rotate-keys submission
  Cargo.lock
  Cargo.toml
  docker/docker-compose.yml
  signer/src/error.rs
  signer/src/main.rs
  signer/src/stacks/wallet.rs
  signer/src/testing/transaction_signer.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/transaction_coordinator.rs
  signer/tests/integration/transaction_signer.rs
  supply-chain/audits.toml
  supply-chain/config.toml
Labels: key rotation, breaking-protocol

#1301 feat: DKG verification pre-key-rotation
  Cargo.lock
  Cargo.toml
  signer/Cargo.toml
  signer/migrations/0012__dkg_verification_extensions.sql
  signer/src/bitcoin/utxo.rs
  signer/src/block_observer.rs
  signer/src/error.rs
  signer/src/stacks/contracts.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/testing/dummy.rs
  signer/src/testing/request_decider.rs
  signer/src/testing/wsts.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/src/wsts_state_machine.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/request_decider.rs
  signer/tests/integration/rotate_keys.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/transaction_coordinator.rs
  signer/tests/integration/transaction_signer.rs
  supply-chain/audits.toml
Labels: sbtc signer binary, signer coordination, key rotation, breaking-protocol

#1318 feat: do not use DKG shares that have failed verification
  signer/src/bitcoin/validation.rs
  signer/src/error.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/postgres.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/bitcoin_validation.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/rotate_keys.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/transaction_coordinator.rs
  signer/tests/integration/transaction_signer.rs
Labels: sbtc signer binary, key rotation

#1324 feat: state machine for out-of-order message handling during dkg verification
  signer/src/bitcoin/utxo.rs
  signer/src/dkg/mod.rs
  signer/src/dkg/testing.rs
  signer/src/dkg/verification.rs
  signer/src/dkg/wsts.rs
  signer/src/error.rs
  signer/src/lib.rs
  signer/src/signature.rs
  signer/src/testing/mod.rs
  signer/src/testing/transaction_signer.rs
  signer/src/transaction_signer.rs
  signer/src/wsts_state_machine.rs
  signer/tests/integration/block_observer.rs
  signer/tests/integration/transaction_coordinator.rs
  signer/tests/integration/transaction_signer.rs
Labels: sbtc signer binary, key rotation

#1341 [chore] consolidate withdrawals tables
  signer/migrations/0003__create_tables.sql
  signer/migrations/0013__consolidate_withdrawal_tables.sql
  signer/src/api/new_block.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/testing/dummy.rs
  signer/src/testing/request_decider.rs
  signer/src/testing/transaction_coordinator.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/setup.rs
Labels: sbtc signer binary, withdrawal

#1346 feat: some dkg verification integration tests
  signer/src/error.rs
  signer/src/keys.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/transaction_signer.rs
Labels: sbtc signer binary, key rotation

#1344 feat: implement query returning `WithdrawalRequestReport`
  signer/src/bitcoin/validation.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/tests/integration/bitcoin_validation.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/transaction_signer.rs
Labels: sbtc signer binary, withdrawal

#1307 chore: update devenv with less building
  .github/workflows/on-push.yaml
  DOCKER.md
  docker/bitcoin/Dockerfile
  docker/docker-compose.yml
  docker/stacks-api/Dockerfile
  docker/stacks-explorer/Dockerfile
  docker/stacks/Dockerfile
Labels: test environment

#1351 fix: enable TLS in the blocklist client (#1349)
  Cargo.lock
  Cargo.toml
  blocklist-client/tests/tls_checking.rs
  signer/tests/integration/main.rs
  signer/tests/integration/tls_checking.rs
  supply-chain/audits.toml
Labels: bug

#1197 fix: emily validate deposits
  .generated-sources/emily/client/rust/private/docs/CreateDepositRequestBody.md
  .generated-sources/emily/client/rust/private/src/models/create_deposit_request_body.rs
  .generated-sources/emily/client/rust/public/docs/CreateDepositRequestBody.md
  .generated-sources/emily/client/rust/public/src/models/create_deposit_request_body.rs
  .generated-sources/emily/client/rust/testing/docs/CreateDepositRequestBody.md
  .generated-sources/emily/client/rust/testing/src/models/create_deposit_request_body.rs
  emily/README.md
  emily/cdk/lib/emily-stack.ts
  emily/cdk/test/emily-stack.test.ts
  emily/handler/src/api/handlers/deposit.rs
  emily/handler/src/api/models/deposit/requests.rs
  emily/handler/src/context.rs
  emily/handler/src/database/entries/deposit.rs
  emily/handler/tests/fixtures/completed-deposit-testnet-event.json
  emily/handler/tests/fixtures/create-deposit-invalid-deposit-script.json
  emily/handler/tests/fixtures/create-deposit-invalid-output-index.json
  emily/handler/tests/fixtures/create-deposit-invalid-reclaim-script.json
  emily/handler/tests/fixtures/create-deposit-invalid-transaction-hex.json
  emily/handler/tests/fixtures/create-deposit-invalid-txid.json
  emily/handler/tests/fixtures/create-deposit-mismatch-deposit-script.json
  emily/handler/tests/fixtures/create-deposit-mismatch-reclaim-script.json
  emily/handler/tests/fixtures/create-deposit-mismatch-txid.json
  emily/handler/tests/fixtures/create-deposit-valid-testnet.json
  emily/handler/tests/fixtures/create-deposit-valid.json
  emily/handler/tests/integration/deposit.rs
  emily/openapi-gen/generated-specs/private-emily-openapi-spec.json
  emily/openapi-gen/generated-specs/public-emily-openapi-spec.json
  emily/openapi-gen/generated-specs/testing-emily-openapi-spec.json
  sbtc/src/deposits.rs
  sbtc/src/testing/deposits.rs
  sbtc/tests/integration/validation.rs
  signer/src/bin/demo_cli.rs
  signer/src/block_observer.rs
  signer/src/testing/btc.rs
  signer/tests/integration/block_observer.rs
  signer/tests/integration/emily.rs
  signer/tests/integration/request_decider.rs
  signer/tests/integration/stacks_events_observer.rs
  signer/tests/integration/transaction_coordinator.rs
Labels: wait-until-next-release

#1352 feat: implement validation using the `WithdrawalRequestReport`
  signer/migrations/0013__consolidate_withdrawal_tables.sql
  signer/src/api/new_block.rs
  signer/src/bitcoin/utxo.rs
  signer/src/bitcoin/validation.rs
  signer/src/context/signer_state.rs
  signer/src/lib.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/setup.rs
Labels: withdrawal, breaking-protocol

#1357 feat: create accept withdrawal transactions
  signer/src/error.rs
  signer/src/storage/model.rs
  signer/src/testing/transaction_coordinator.rs
  signer/src/transaction_coordinator.rs
Labels: sbtc signer binary

#1306 feat: add function for using smart contract for deposit status
  signer/src/error.rs
  signer/src/stacks/api.rs
  signer/src/testing/block_observer.rs
  signer/src/testing/context.rs
  signer/tests/integration/contracts.rs
Labels: sbtc signer binary

#1336 feat: implement validatation of reject-withdrawal-request contract calls
  protobufs/stacks/signer/v1/common.proto
  protobufs/stacks/signer/v1/messages.proto
  protobufs/stacks/signer/v1/requests.proto
  signer/build.rs
  signer/src/error.rs
  signer/src/proto/convert.rs
  signer/src/proto/generated/stacks.signer.v1.rs
  signer/src/stacks/contracts.rs
  signer/src/testing/dummy.rs
  signer/src/testing/message.rs
  signer/tests/integration/contracts.rs
  signer/tests/integration/main.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/withdrawal_reject.rs
Labels: sbtc signer binary, withdrawal

#1377 feat: add function for getting withdrawal status from smart contract
  signer/src/stacks/api.rs
  signer/src/testing/block_observer.rs
  signer/src/testing/context.rs
  signer/tests/integration/contracts.rs
Labels: sbtc signer binary, withdrawal

#1390 feat: additional test helpers, conversion primitives and minor refactors
  sbtc/src/testing/regtest.rs
  signer/migrations/0003__create_tables.sql
  signer/src/block_observer.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/model.rs
  signer/src/testing/dummy.rs
  signer/src/testing/storage.rs
  signer/src/testing/storage/model.rs
  signer/src/testing/transaction_coordinator.rs
  signer/src/transaction_coordinator.rs
  signer/tests/integration/block_observer.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/transaction_coordinator.rs
  signer/tests/integration/transaction_signer.rs
  signer/tests/integration/withdrawal_accept.rs
  signer/tests/integration/withdrawal_reject.rs
Labels: sbtc signer binary

#1379 feat: emily version endpoint
  .generated-sources/emily/client/rust/private/docs/HealthData.md
  .generated-sources/emily/client/rust/private/src/models/health_data.rs
  .generated-sources/emily/client/rust/public/docs/HealthData.md
  .generated-sources/emily/client/rust/public/src/models/health_data.rs
  .generated-sources/emily/client/rust/testing/docs/HealthData.md
  .generated-sources/emily/client/rust/testing/src/models/health_data.rs
  emily/cdk/lib/emily-stack.ts
  emily/handler/src/api/handlers/health.rs
  emily/handler/src/api/models/health/responses.rs
  emily/handler/src/api/routes/health.rs
  emily/handler/src/api/routes/mod.rs
  emily/handler/src/context.rs
  emily/openapi-gen/generated-specs/private-emily-openapi-spec.json
  emily/openapi-gen/generated-specs/public-emily-openapi-spec.json
  emily/openapi-gen/generated-specs/testing-emily-openapi-spec.json
Labels: emily

#1294 feat: emily get transactions by reclaim pubkey
  .generated-sources/emily/client/rust/private/README.md
  .generated-sources/emily/client/rust/private/docs/CorsApi.md
  .generated-sources/emily/client/rust/private/docs/DepositApi.md
  .generated-sources/emily/client/rust/private/src/apis/cors_api.rs
  .generated-sources/emily/client/rust/private/src/apis/deposit_api.rs
  .generated-sources/emily/client/rust/public/README.md
  .generated-sources/emily/client/rust/public/docs/CorsApi.md
  .generated-sources/emily/client/rust/public/docs/DepositApi.md
  .generated-sources/emily/client/rust/public/src/apis/cors_api.rs
  .generated-sources/emily/client/rust/public/src/apis/deposit_api.rs
  .generated-sources/emily/client/rust/testing/README.md
  .generated-sources/emily/client/rust/testing/docs/CorsApi.md
  .generated-sources/emily/client/rust/testing/docs/DepositApi.md
  .generated-sources/emily/client/rust/testing/src/apis/cors_api.rs
  .generated-sources/emily/client/rust/testing/src/apis/deposit_api.rs
  Cargo.lock
  emily/cdk/lib/emily-stack.ts
  emily/handler/Cargo.toml
  emily/handler/src/api/handlers/deposit.rs
  emily/handler/src/api/routes/deposit.rs
  emily/handler/src/database/accessors.rs
  emily/handler/src/database/entries/deposit.rs
  emily/handler/tests/fixtures/completed-deposit-testnet-event.json
  emily/handler/tests/fixtures/create-deposit-valid-testnet.json
  emily/handler/tests/integration/deposit.rs
  emily/openapi-gen/generated-specs/private-emily-openapi-spec.json
  emily/openapi-gen/generated-specs/public-emily-openapi-spec.json
  emily/openapi-gen/generated-specs/testing-emily-openapi-spec.json
  emily/openapi-gen/generators/private.rs
  emily/openapi-gen/generators/public.rs
  emily/openapi-gen/generators/testing.rs
  sbtc/src/testing/deposits.rs
Labels: emily

#1398 feat: add withdrawal rejection to the coordinator loop
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/testing/transaction_coordinator.rs
  signer/src/transaction_coordinator.rs
  signer/tests/integration/transaction_coordinator.rs
Labels: withdrawal

#1394 feat: update validation logic of accepted withdrawal requests
  protobufs/stacks/signer/v1/requests.proto
  signer/src/proto/convert.rs
  signer/src/proto/generated/stacks.signer.v1.rs
  signer/src/proto/mod.rs
  signer/src/stacks/contracts.rs
  signer/src/testing/dummy.rs
  signer/src/testing/transaction_coordinator.rs
  signer/src/transaction_coordinator.rs
  signer/tests/integration/bitcoin_validation.rs
  signer/tests/integration/contracts.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/withdrawal_accept.rs
  signer/tests/integration/withdrawal_reject.rs
Labels: withdrawal

#1396 feat: check the withdrawal status during validation
  signer/src/stacks/contracts.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/withdrawal_accept.rs
  signer/tests/integration/withdrawal_reject.rs
Labels: withdrawal

#1383 feat: query withdrawals by recipient
  .generated-sources/emily/client/rust/private/README.md
  .generated-sources/emily/client/rust/private/docs/CorsApi.md
  .generated-sources/emily/client/rust/private/docs/WithdrawalApi.md
  .generated-sources/emily/client/rust/private/src/apis/cors_api.rs
  .generated-sources/emily/client/rust/private/src/apis/withdrawal_api.rs
  .generated-sources/emily/client/rust/public/README.md
  .generated-sources/emily/client/rust/public/docs/CorsApi.md
  .generated-sources/emily/client/rust/public/docs/WithdrawalApi.md
  .generated-sources/emily/client/rust/public/src/apis/cors_api.rs
  .generated-sources/emily/client/rust/public/src/apis/withdrawal_api.rs
  .generated-sources/emily/client/rust/testing/README.md
  .generated-sources/emily/client/rust/testing/docs/CorsApi.md
  .generated-sources/emily/client/rust/testing/docs/WithdrawalApi.md
  .generated-sources/emily/client/rust/testing/src/apis/cors_api.rs
  .generated-sources/emily/client/rust/testing/src/apis/withdrawal_api.rs
  emily/cdk/lib/emily-stack.ts
  emily/handler/src/api/handlers/deposit.rs
  emily/handler/src/api/handlers/withdrawal.rs
  emily/handler/src/api/models/common/requests.rs
  emily/handler/src/api/models/deposit/requests.rs
  emily/handler/src/api/routes/withdrawal.rs
  emily/handler/src/database/accessors.rs
  emily/handler/src/database/entries/withdrawal.rs
  emily/handler/tests/integration/withdrawal.rs
  emily/openapi-gen/generated-specs/private-emily-openapi-spec.json
  emily/openapi-gen/generated-specs/public-emily-openapi-spec.json
  emily/openapi-gen/generated-specs/testing-emily-openapi-spec.json
  emily/openapi-gen/generators/private.rs
  emily/openapi-gen/generators/public.rs
  emily/openapi-gen/generators/testing.rs
  signer/tests/integration/stacks_events_observer.rs
Labels: emily

#1397 feat: concretize pending accepted withdrawals query and implement tests
  signer/src/stacks/contracts.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/postgres.rs
  signer/src/testing/blocks.rs
  signer/src/testing/mod.rs
  signer/src/testing/transaction_coordinator.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/complete_deposit.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/rotate_keys.rs
  signer/tests/integration/withdrawal_accept.rs
  signer/tests/integration/withdrawal_reject.rs
Labels: sbtc signer binary

#1414 [fix] remove api key requirement from health endpoint
  .generated-sources/emily/client/rust/private/docs/HealthApi.md
  .generated-sources/emily/client/rust/private/src/apis/health_api.rs
  .generated-sources/emily/client/rust/public/docs/HealthApi.md
  .generated-sources/emily/client/rust/public/src/apis/health_api.rs
  .generated-sources/emily/client/rust/testing/docs/HealthApi.md
  .generated-sources/emily/client/rust/testing/src/apis/health_api.rs
  emily/handler/src/api/handlers/health.rs
  emily/handler/src/api/routes/mod.rs
  emily/openapi-gen/generated-specs/private-emily-openapi-spec.json
  emily/openapi-gen/generated-specs/public-emily-openapi-spec.json
  emily/openapi-gen/generated-specs/testing-emily-openapi-spec.json
Labels: emily

#1403 feat: sign and broadcast `accept-withdrawal` contract call
  signer/src/storage/model.rs
  signer/src/transaction_coordinator.rs
  signer/tests/integration/transaction_coordinator.rs
Labels: withdrawal

#1411 feat: feature wait before rejecting a withdrawal request
  signer/src/stacks/contracts.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/postgres.rs
  signer/src/testing/dummy.rs
  signer/src/transaction_coordinator.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/transaction_coordinator.rs
  signer/tests/integration/withdrawal_reject.rs
Labels: sbtc signer binary, withdrawal

#1265 Update to wsts 13
  Cargo.lock
  Cargo.toml
  signer/src/dkg/verification.rs
  signer/src/testing/wsts.rs
  signer/src/transaction_signer.rs
  signer/src/wsts_state_machine.rs
  supply-chain/audits.toml
  supply-chain/config.toml
Labels: breaking-protocol

#1437 [chore] Remove no longer used code
  signer/src/proto/convert.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/postgres.rs
Labels: sbtc signer binary

#1105 feat: setup devenv observability
  Makefile
  docker/docker-compose.yml
  docker/observability/grafana/dashboards/dashboard.yml
  docker/observability/grafana/datasources/datasource.yml
  docker/observability/local-prometheus.yml
  docker/observability/loki-config.yaml
  docker/observability/vector.toml
  envs/signer-1.env
  envs/signer-2.env
  envs/signer-3.env
Labels: chore, Observability

#1421 [chore] remove emily calls from signer's new_block handler
  signer/src/api/new_block.rs
  signer/tests/integration/main.rs
  signer/tests/integration/stacks_events_observer.rs
Labels: sbtc signer binary

#1436 feat: more efficient validation complete deposit contract calls
  signer/src/stacks/contracts.rs
  signer/src/storage/postgres.rs
  signer/tests/integration/complete_deposit.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/transaction_coordinator.rs
  signer/tests/integration/transaction_signer.rs
Labels: sbtc signer binary

#1425 [chore] duplicate check on create_deposit
  .generated-sources/emily/client/rust/private/src/apis/deposit_api.rs
  .generated-sources/emily/client/rust/public/src/apis/deposit_api.rs
  .generated-sources/emily/client/rust/testing/src/apis/deposit_api.rs
  emily/handler/src/api/handlers/deposit.rs
  emily/handler/tests/integration/deposit.rs
  emily/openapi-gen/generated-specs/private-emily-openapi-spec.json
  emily/openapi-gen/generated-specs/public-emily-openapi-spec.json
  emily/openapi-gen/generated-specs/testing-emily-openapi-spec.json
Labels: emily, chore
