Repository stacks-sbtc/sbtc, pull requests merged in 2025-05, with the labels that each got.

#1640 fix: add compound primary key to `rotate_keys_transactions` table
  signer/migrations/0016__modify_rotate_keys_transactions_table.sql
  signer/tests/integration/postgres.rs
Labels: bug

#1660 build: do not build emily with testing feature
  Makefile
  docker/docker-compose.test.yml
  docker/sbtc/Dockerfile
  emily/handler/Cargo.toml
  emily/handler/src/bin/emily-server.rs
  emily/handler/src/context.rs
  emily/openapi-gen/Cargo.toml
Labels: emily

#1642 feat: make the `getblock` RPC return detailed transacation info
  signer/src/bitcoin/client.rs
  signer/src/bitcoin/mod.rs
  signer/src/bitcoin/rpc.rs
  signer/src/bitcoin/utxo.rs
  signer/src/block_observer.rs
  signer/src/error.rs
  signer/src/stacks/contracts.rs
  signer/src/storage/model.rs
  signer/src/testing/block_observer.rs
  signer/src/testing/context.rs
  signer/src/testing/dummy.rs
  signer/src/testing/transaction_coordinator.rs
  signer/tests/integration/bitcoin_client.rs
  signer/tests/integration/complete_deposit.rs
  signer/tests/integration/emily.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/transaction_coordinator.rs
  signer/tests/integration/utxo_construction.rs
  signer/tests/integration/withdrawal_accept.rs
  signer/tests/integration/withdrawal_reject.rs
Labels: sbtc signer binary

#1679 chore: bump rust to 1.87 and address new clippy lint warnings
  .github/actions/dockerfiles/Dockerfile.blocklist-client.debian
  .github/actions/dockerfiles/Dockerfile.signer.debian
  README.md
  docker/sbtc/Dockerfile
  emily/handler/src/common/error.rs
  emily/handler/src/context.rs
  emily/handler/src/database/entries/mod.rs
  rust-toolchain.toml
  sbtc/src/events.rs
  signer/src/bin/demo_cli.rs
  signer/src/context/messaging.rs
  signer/src/error.rs
  signer/src/network/in_memory2.rs
  signer/src/network/libp2p/event_loop.rs
  signer/src/network/libp2p/network.rs
  signer/src/proto/convert.rs
  signer/src/stacks/api.rs
  signer/src/stacks/contracts.rs
  signer/src/storage/model.rs
  signer/src/testing/block_observer.rs
  signer/src/testing/message.rs
  signer/src/testing/storage/model.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/transaction_signer.rs
Labels: chore

#1682 feat: add timestamp support for sqlx+postgres integration
  signer/src/storage/model.rs
  signer/src/storage/sqlx.rs
  signer/src/testing/dummy.rs
  signer/tests/integration/postgres.rs
Labels: sbtc signer binary

#1602 [feat] trigger dkg on changed signer set
  signer/src/block_observer.rs
  signer/src/context/signer_context.rs
  signer/src/context/signer_state.rs
  signer/src/testing/context.rs
  signer/src/testing/wsts.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/block_observer.rs
  signer/tests/integration/transaction_coordinator.rs
  signer/tests/integration/transaction_signer.rs
Labels: sbtc signer binary

#1674 feat: implement core storage transaction support + in-memory implementation
  Cargo.lock
  signer/Cargo.toml
  signer/src/api/new_block.rs
  signer/src/block_observer.rs
  signer/src/error.rs
  signer/src/request_decider.rs
  signer/src/stacks/api.rs
  signer/src/storage/memory/mod.rs
  signer/src/storage/memory/read.rs
  signer/src/storage/memory/store.rs
  signer/src/storage/memory/tests.rs
  signer/src/storage/memory/write.rs
  signer/src/storage/mod.rs
  signer/src/testing/context.rs
  signer/src/testing/storage/model.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/postgres.rs
  supply-chain/config.toml
  supply-chain/imports.lock
Labels: sbtc signer binary
