Repository stacks-sbtc/sbtc, pull requests merged in 2025-01, with the labels that each got.

#1190 fix: reject empty pre-sign requests
  signer/src/bitcoin/utxo.rs
  signer/src/bitcoin/validation.rs
  signer/src/error.rs
Labels: bug, sbtc signer binary

#1188 fix: enforce codec deserialization
  signer/src/codec.rs
  signer/src/ecdsa.rs
  signer/src/error.rs
  signer/src/message.rs
  signer/src/network/in_memory2.rs
  signer/src/proto/convert.rs
  signer/src/testing/dummy.rs
Labels: bug, sbtc signer binary, signer communication

#1203 feat: additional logging for `new_block` handler
  signer/src/api/new_block.rs
Labels: sbtc signer binary

#1204 feat: add config params for dkg-rerun bitcoin block height and target rounds
  docker/mainnet/sbtc-signer/signer-config.toml.in
  docker/sbtc/signer/signer-config.toml
  signer/src/config/default.toml
  signer/src/config/mod.rs
Labels: sbtc signer binary, key rotation

#1205 feat: #1200 feature signers allow second dkg after specific block height
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/postgres.rs
  signer/src/transaction_signer.rs
Labels: sbtc signer binary, key rotation

#1125 feat: Query By Recipient
  .generated-sources/emily/client/rust/private/README.md
  .generated-sources/emily/client/rust/private/docs/CorsApi.md
  .generated-sources/emily/client/rust/private/docs/DepositApi.md
  .generated-sources/emily/client/rust/private/src/apis/cors_api.rs
  .generated-sources/emily/client/rust/private/src/apis/deposit_api.rs
  .generated-sources/emily/client/rust/public/README.md
  .generated-sources/emily/client/rust/public/docs/CorsApi.md
  .generated-sources/emily/client/rust/public/docs/DepositApi.md
  .generated-sources/emily/client/rust/public/src/apis/cors_api.rs
  .generated-sources/emily/client/rust/public/src/apis/deposit_api.rs
  .generated-sources/emily/client/rust/testing/README.md
  .generated-sources/emily/client/rust/testing/docs/CorsApi.md
  .generated-sources/emily/client/rust/testing/docs/DepositApi.md
  .generated-sources/emily/client/rust/testing/src/apis/cors_api.rs
  .generated-sources/emily/client/rust/testing/src/apis/deposit_api.rs
  .generated-sources/emily/openapi/generated-specs/private-emily-openapi-spec.json
  .generated-sources/emily/openapi/generated-specs/public-emily-openapi-spec.json
  .generated-sources/emily/openapi/generated-specs/testing-emily-openapi-spec.json
  .generated-sources/emily/openapi/generators/private.rs
  .generated-sources/emily/openapi/generators/public.rs
  .generated-sources/emily/openapi/generators/testing.rs
  emily/cdk/lib/emily-stack.ts
  emily/handler/src/api/handlers/deposit.rs
  emily/handler/src/api/models/common/requests.rs
  emily/handler/src/api/models/deposit/requests.rs
  emily/handler/src/api/models/withdrawal/requests.rs
  emily/handler/src/api/routes/deposit.rs
  emily/handler/src/common/error.rs
  emily/handler/src/database/accessors.rs
  emily/handler/src/database/entries/deposit.rs
  emily/handler/src/database/entries/mod.rs
  emily/handler/tests/integration/deposit.rs
  emily/handler/tests/integration/withdrawal.rs
  sbtc/src/testing/deposits.rs
Labels: emily

#1212 feat: #1199 feature coordinator attempts subsequent DKG run according to configuration
  signer/src/error.rs
  signer/src/transaction_coordinator.rs
  signer/tests/integration/transaction_coordinator.rs
Labels: sbtc signer binary

#1215 fix: exit early if no requests during presign request creation
  signer/src/transaction_coordinator.rs
Labels: bug

#1209 feat: always create new state machines
  Cargo.lock
  Cargo.toml
  signer/Cargo.toml
  signer/src/bitcoin/utxo.rs
  signer/src/error.rs
  signer/src/lib.rs
  signer/src/main.rs
  signer/src/proto/convert.rs
  signer/src/testing/dummy.rs
  signer/src/testing/transaction_signer.rs
  signer/src/transaction_signer.rs
  signer/src/wsts_state_machine.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/transaction_coordinator.rs
  signer/tests/integration/transaction_signer.rs
Labels: bug, sbtc signer binary, key rotation

#1210 feat: load aggregate key dependent signer state machines
  signer/migrations/0011__add_aggregate_key_sighashes_table.sql
  signer/src/bitcoin/utxo.rs
  signer/src/bitcoin/validation.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/src/testing/btc.rs
  signer/src/testing/storage.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/src/wsts_state_machine.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/transaction_coordinator.rs
  signer/tests/integration/transaction_signer.rs
Labels: sbtc signer binary, key rotation, utxo consolidation

#1229 fix: validate network recipient stacks address
  sbtc/src/deposits.rs
  sbtc/src/error.rs
  sbtc/tests/integration/validation.rs
  signer/src/block_observer.rs
  signer/tests/integration/utxo_construction.rs
Labels: bug

#1241 chore: fix elecrs to use nightly in devenv
  docker/electrs/Dockerfile
Labels: test environment

#1242 refactor: libp2p testing and minor improvements
  signer/src/config/error.rs
  signer/src/config/mod.rs
  signer/src/main.rs
  signer/src/network/libp2p/mod.rs
  signer/src/network/libp2p/multiaddr.rs
  signer/src/network/libp2p/network.rs
  signer/src/network/libp2p/swarm.rs
  signer/src/testing/network.rs
  signer/tests/integration/communication.rs
  signer/tests/integration/transaction_coordinator.rs
  supply-chain/config.toml
Labels: signer communication

#1251 feat: signer `/info` api endpoint
  Cargo.lock
  Makefile
  docker/sbtc/Dockerfile
  signer/src/api/info.rs
  signer/src/api/mod.rs
  signer/src/api/router.rs
  signer/src/bitcoin/client.rs
  signer/src/bitcoin/mod.rs
  signer/src/bitcoin/rpc.rs
  signer/src/config/mod.rs
  signer/src/error.rs
  signer/src/storage/model.rs
  signer/src/testing/block_observer.rs
  signer/src/testing/context.rs
  signer/tests/fixtures/bitcoind-getblockchaininfo-data.json
  signer/tests/fixtures/bitcoind-getnetworkinfo-data.json
  signer/tests/fixtures/stacksapi-v3-tenures-info-data.json
Labels: sbtc signer binary

#1246 add sleep after new block to the request_decider
  docker/mainnet/sbtc-signer/signer-config.toml.in
  docker/sbtc/signer/signer-config.toml
  docker/testnet/config/signer-config.toml.sample
  signer/src/config/default.toml
  signer/src/config/error.rs
  signer/src/config/mod.rs
  signer/src/request_decider.rs
Labels: breaking-local

#1271 chore: dependency cleanup pre-`cargo-vet`
  Cargo.lock
  Cargo.toml
  Makefile
  blocklist-client/Cargo.toml
  blocklist-client/src/client/risk_client.rs
  blocklist-client/src/client/sanctions.rs
  blocklist-client/src/config.rs
  blocklist-openapi-gen/Cargo.toml
  emily/handler/Cargo.toml
  emily/openapi-gen/Cargo.toml
  sbtc/Cargo.toml
  signer/Cargo.toml
  signer/build.rs
  signer/src/error.rs
  signer/src/network/libp2p/event_loop.rs
  signer/tests/integration/postgres.rs
  supply-chain/config.toml
Labels: tech debt, chore, dependencies

#1283 chore: regenerate protos after tonic/prost upgrade
  signer/build.rs
  signer/src/proto/generated/bitcoin.rs
  signer/src/proto/generated/crypto.rs
  signer/src/proto/generated/crypto.wsts.rs
  signer/src/proto/generated/stacks.rs
  signer/src/proto/generated/stacks.signer.v1.rs
Labels: chore

#1269 chore: update dockerfiles for rc6
  docker-compose.signer.yml
  docker/docker-compose.ci.yml
  docker/docker-compose.test.yml
  docker/docker-compose.yml
  docker/mainnet/docker-compose.yml
  docker/mainnet/nodes/docker-compose.chains.yml
  docker/testnet/docker-compose.testnet.yml
Labels: chore
