Repository stacks-sbtc/sbtc, pull requests merged in 2025-03, with the labels that each got.

#1445 1444 chorebug restrict wipe databases to testing api
  .generated-sources/emily/client/rust/public/.openapi-generator/FILES
  .generated-sources/emily/client/rust/public/README.md
  .generated-sources/emily/client/rust/public/docs/CorsApi.md
  .generated-sources/emily/client/rust/public/src/apis/cors_api.rs
  .generated-sources/emily/client/rust/public/src/apis/mod.rs
  Cargo.lock
  emily/openapi-gen/generated-specs/public-emily-openapi-spec.json
  emily/openapi-gen/generators/public.rs
  signer/Cargo.toml
  signer/tests/integration/block_observer.rs
  signer/tests/integration/emily.rs
  signer/tests/integration/request_decider.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/transaction_coordinator.rs
Labels: bug, immunefi-scope

#1446 build: do not compile signer crate with testing feature
  Cargo.lock
  Makefile
  signer/Cargo.toml
  signer/src/bin/demo_cli.rs
  signer/src/emily_client.rs
  signer/src/stacks/wallet.rs
  signer/src/storage/mod.rs
  signer/src/storage/postgres.rs
Labels: sbtc signer binary

#1473 chore: remove signer's emily-client implementations to call private endpoints
  signer/src/api/new_block.rs
  signer/src/emily_client.rs
  signer/src/testing/block_observer.rs
  signer/src/testing/context.rs
Labels: sbtc signer binary

#1474 chore: emily remove private endpoints
  .generated-sources/emily/client/rust/public/.openapi-generator/FILES
  .generated-sources/emily/client/rust/public/README.md
  .generated-sources/emily/client/rust/public/docs/ChainstateApi.md
  .generated-sources/emily/client/rust/public/docs/WithdrawalApi.md
  .generated-sources/emily/client/rust/public/src/apis/chainstate_api.rs
  .generated-sources/emily/client/rust/public/src/apis/withdrawal_api.rs
  .generated-sources/emily/client/rust/public/src/models/mod.rs
  emily/openapi-gen/generated-specs/public-emily-openapi-spec.json
  emily/openapi-gen/generators/public.rs
Labels: emily

#1472 chore: emily filter updates from signers
  .generated-sources/emily/client/rust/private/src/apis/deposit_api.rs
  .generated-sources/emily/client/rust/private/src/apis/withdrawal_api.rs
  .generated-sources/emily/client/rust/public/src/apis/deposit_api.rs
  .generated-sources/emily/client/rust/public/src/apis/withdrawal_api.rs
  .generated-sources/emily/client/rust/testing/src/apis/deposit_api.rs
  .generated-sources/emily/client/rust/testing/src/apis/withdrawal_api.rs
  emily/handler/src/api/handlers/chainstate.rs
  emily/handler/src/api/handlers/deposit.rs
  emily/handler/src/api/handlers/withdrawal.rs
  emily/handler/src/common/error.rs
  emily/handler/src/database/accessors.rs
  emily/handler/tests/integration/deposit.rs
  emily/handler/tests/integration/withdrawal.rs
  emily/openapi-gen/generated-specs/private-emily-openapi-spec.json
  emily/openapi-gen/generated-specs/public-emily-openapi-spec.json
  emily/openapi-gen/generated-specs/testing-emily-openapi-spec.json
Labels: emily

#1257 feat: new behavior for network bootstrapping
  signer/src/main.rs
  signer/src/network/libp2p/bootstrap.rs
  signer/src/network/libp2p/event_loop.rs
  signer/src/network/libp2p/mod.rs
  signer/src/network/libp2p/multiaddr.rs
  signer/src/network/libp2p/network.rs
  signer/src/network/libp2p/swarm.rs
Labels: sbtc signer binary, signer communication, wait-until-next-release

#1503 feat: add query that computes aggregate withdrawn amounts
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/postgres.rs
  signer/tests/integration/postgres.rs
Labels: sbtc signer binary, needed-for-withdrawals-v1

#1508 feat: remove signer vote bitmaps from transactions
  signer/src/proto/convert.rs
  signer/src/stacks/contracts.rs
  signer/src/testing/dummy.rs
  signer/src/testing/message.rs
  signer/src/testing/transaction_coordinator.rs
  signer/src/transaction_coordinator.rs
  signer/tests/integration/contracts.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/withdrawal_accept.rs
  signer/tests/integration/withdrawal_reject.rs
Labels: sbtc signer binary, breaking-protocol, needed-for-withdrawals-v1

#1523 feat: add leb128 variable length integer implementation to `sbtc` crate
  Cargo.lock
  Cargo.toml
  sbtc/Cargo.toml
  sbtc/proptest-regressions/leb128.txt
  sbtc/src/leb128.rs
  sbtc/src/lib.rs
  supply-chain/config.toml
  supply-chain/imports.lock
Labels: transaction library, needed-for-withdrawals-v1

#1526 feat: coordinator checks withdrawal amounts against caps
  signer/src/bitcoin/utxo.rs
  signer/src/bitcoin/validation.rs
  signer/src/block_observer.rs
  signer/src/context/signer_state.rs
  signer/src/emily_client.rs
  signer/src/storage/in_memory.rs
  signer/tests/integration/block_observer.rs
Labels: sbtc signer binary, withdrawal, needed-for-withdrawals-v1

#1525 feat: add encoder/decoder for withdrawal id compression (for storage in OP_RETURN)
  Cargo.lock
  Cargo.toml
  sbtc/Cargo.toml
  sbtc/proptest-regressions/idpack/segmenters/mod.txt
  sbtc/src/idpack/codec/decoder.rs
  sbtc/src/idpack/codec/encoder.rs
  sbtc/src/idpack/codec/mod.rs
  sbtc/src/idpack/mod.rs
  sbtc/src/idpack/segment.rs
  sbtc/src/idpack/segmenters/bitmap.rs
  sbtc/src/idpack/segmenters/mod.rs
  sbtc/src/idpack/segments.rs
  sbtc/src/idpack/tests.rs
  sbtc/src/lib.rs
  supply-chain/config.toml
  supply-chain/imports.lock
Labels: transaction library, withdrawal, needed-for-withdrawals-v1

#1512 feat: encode withdrawal id's on-chain in their respective transaction's `OP_RETURN`
  signer/src/bitcoin/packaging.rs
  signer/src/bitcoin/utxo.rs
  signer/src/error.rs
  signer/tests/integration/complete_deposit.rs
Labels: sbtc signer binary, needed-for-withdrawals-v1

#1535 chore: update base transaction size constants after `OP_RETURN` updates
  signer/src/bitcoin/utxo.rs
Labels: sbtc signer binary, withdrawal, utxo consolidation, needed-for-withdrawals-v1

#1509 feat: save withdrawal ids from bitcoin tx outs
  signer/migrations/0014__add_bitcoin_tx_outputs_.sql
  signer/src/bitcoin/utxo.rs
  signer/src/block_observer.rs
  signer/src/error.rs
  signer/src/storage/in_memory.rs
  signer/src/storage/mod.rs
  signer/src/storage/model.rs
  signer/src/storage/postgres.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/transaction_coordinator.rs
  signer/tests/integration/utxo_construction.rs
Labels: needed-for-withdrawals-v1

#1536 chore: bump WSTS
  Cargo.lock
  Cargo.toml
  supply-chain/audits.toml
  supply-chain/config.toml
Labels: withdrawal, needed-for-withdrawals-v1

#1476 feat: Add attestation entry point to Docker Images
  .github/actions/dockerfiles/Dockerfile.blocklist-client.debian
  .github/actions/dockerfiles/Dockerfile.signer.debian
  .github/workflows/image-build-and-draft-release.yaml
  docker/mainnet/docker-compose.yml
  docker/mainnet/gh-attestation/README.md
  docker/mainnet/gh-attestation/entrypoint.sh
  docker/testnet/docker-compose.testnet.yml
Labels: chore
