Repository stacks-sbtc/sbtc, pull requests merged in 2025-06, with the labels that each got.

#1699 refactor: centralize more metric logic
  signer/src/metrics.rs
  signer/src/transaction_signer.rs
Labels: sbtc signer binary, chore

#1715 fix: more consistent signer set state
  signer/src/block_observer.rs
  signer/src/context/signer_state.rs
  signer/src/error.rs
  signer/src/stacks/contracts.rs
  signer/src/stacks/wallet.rs
  signer/src/testing/context.rs
  signer/src/transaction_coordinator.rs
  signer/src/transaction_signer.rs
  signer/tests/integration/block_observer.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/transaction_coordinator.rs
  signer/tests/integration/transaction_signer.rs
Labels: sbtc signer binary

#1702 P2P Metric
  docker/observability/vector.toml
  signer/src/metrics.rs
  signer/src/network/libp2p/bootstrap.rs
Labels: sbtc signer binary, Observability

#1673 feat: integral support for storage transactions + bitcoin transaction processing in transaction
  signer/src/block_observer.rs
  signer/src/context/mod.rs
  signer/src/context/signer_context.rs
  signer/src/storage/postgres/mod.rs
  signer/src/storage/postgres/read.rs
  signer/src/storage/postgres/store.rs
  signer/src/storage/postgres/write.rs
  signer/src/testing/context.rs
  signer/src/testing/transaction_coordinator.rs
  signer/tests/integration/block_observer.rs
  signer/tests/integration/postgres.rs
  signer/tests/integration/setup.rs
  signer/tests/integration/transaction_coordinator.rs
  supply-chain/config.toml
  supply-chain/imports.lock
Labels: sbtc signer binary

#1740 feat: skip coordinator tenure after a key rotation
  signer/src/keys.rs
  signer/src/storage/postgres/read.rs
  signer/src/transaction_coordinator.rs
  signer/tests/integration/transaction_coordinator.rs
Labels: sbtc signer binary

#1726 feat: additional test helpers & utilities (part 1)
  signer/src/api/info.rs
  signer/src/config/default.toml
  signer/src/context/signer_context.rs
  signer/src/error.rs
  signer/src/keys.rs
  signer/src/testing/btc.rs
  signer/src/testing/context.rs
  signer/src/testing/dummy.rs
  signer/src/testing/mod.rs
  signer/src/testing/storage.rs
  signer/src/testing/storage/model.rs
  signer/src/testing/storage/postgres.rs
  signer/src/testing/transaction_coordinator.rs
  signer/tests/devenv/devenv.rs
  signer/tests/integration/block_observer.rs
  signer/tests/integration/emily.rs
  signer/tests/integration/transaction_coordinator.rs
  signer/tests/integration/utxo_construction.rs
Labels: testing
